{% extends "base.html" %}

{% block content %}
<div class="container">
	<form class="form-horizontal" enctype="multipart/form-data" style="display:inline-block;" method="post">
		{% csrf_token %}
		<input type="hidden" name="attach" value="submit_request">
		<div class="control-group">
			<div class="controls">
				<h3>What organization runs or sponsors this meeting?</h3>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Add from organizations: </label>
			<div class="controls">
				<select name="selectorg">
					{% for o in orgs %}
					<option value="{{o.id}}">{{o.name}}</option>
					{% endfor %}
					<option name="None\n"></option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<h4>Or create a new organization:</h4>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Name</label>
			<div class="controls">
	            {{form.name}} {% if form.name.errors %}<text style="color: red; padding-left: 5px;">Required</text>{% endif %}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputdesc">Description</label>
			<div class="controls">
				{{form.desc}} {% if form.desc.errors %}<text style="color: red; padding-left: 5px;">Required</text>{% endif %}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputcontact">Contact Email</label>
			<div class="controls">
				{{form.contact}} {% if form.contact.errors %}<text style="color: red; padding-left: 5px;">Invalid Input</text>{% endif %}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputws">Website</label>
			<div class="controls">
				{{form.website}}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Image</label>
			<div class="controls">
				{{form.image}}{% if form.image.errors %}<h5 style="color: red;">Image is too large.</h5>{% endif %}
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Add to Meeting</button>
				<button type="submit" name="later" class="btn btn-primary">Skip this Step</button>
			</div>
		</div>
	</form>
</div>

{% endblock %}