{% extends "base.html" %}

{% block content %}
{% load static %}

<link href="{% static "formbase.css" %}" rel="stylesheet" type="text/css">

<div class="center_block container" style="min-width: 720px;">
	<div style="text-align: center;">
		<h2>Organization?</h2>
		<img src="{% static "flow3.jpg" %}">
	</div>
	<div class="form_block">
		<form class="form-horizontal" id="mform" style="margin-top: 25px;" enctype="multipart/form-data" style="" method="post">
			{% csrf_token %}
			<input type="hidden" name="attach" value="submit_request">
			<div class="control-group">
				<label class="control-label">Add from organizations: </label>
				<div class="controls">
					<select name="selectorg">
						{% for o in orgs %}
						<option value="{{o.id}}">{{o.name}}</option>
						{% endfor %}
						<option name="None\n"></option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<h4>Or create a new organization:</h4>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputEmail">Name</label>
				<div class="controls">
		            {{form.name}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputdesc">Description</label>
				<div class="controls">
					{{form.desc}} {% if form.desc.errors %}Hi{%endif%}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputcontact">Contact Email</label>
				<div class="controls">
					{{form.contact}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputws">Website</label>
				<div class="controls">
					{{form.website}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPassword">Image</label>
				<div class="controls">
					{{form.image}}
				</div>
			</div>
			<input type="hidden" id="specs" name="" />
		</form>
	</div>
	<div class="blurb_block" style="font-size: 14px; margin-top: 25px; vertical-align: middle;">
		<h4 style="text-align: center;">Info</h4><br>
		<text>What organization runs or sponsors this meeting?</text><br><br>
		<text>If you don't want this meeting to have an affiliated organization, click the "Skip" button.</text><br><br>
		<text>Accepted formats for organization image are: jpg, png.</text><br><br>
		<text>Any organization you create here will be added to your profile, and you can select it for other meetings, too!</text><br><br>
	</div>
	<div class="footer_block">
		<button type="submit" id="sub" class="btn btn-primary">Add to Meeting</button>
		<button type="submit" id="sublater" style="margin-left: 5px;" class="btn btn-primary">Skip</button>
	</div>
</div>


<script>

$(document).ready(function() {
	$('#sub').click(function() {
		$('#mform').submit();
	});
	$('#sublater').click(function() {
		$('#specs').attr('name', 'later');
		$('#mform').submit();
	});

    {% if input_error or form.errors %}
        html = '<h4 style="text-align: center;">Errors</h4><br><text style="color: red;">';
        {% if name_error %}
        html += 'Organization name also required.<br><br>';
        {% endif %}
        {% if desc_error %}
        html += 'Organization description also required.<br><br>';
        {% endif %}
        {% if contact_error %}
        html += 'Invalid contact email.<br><br>';
        {% endif %}
        {% if form.image.errors %}
        html += 'Problem processing your image. Image might be too large or in a non-accepted format (choose jpg or png).<br><br>';
        {% endif %}
        $('.blurb_block').html(html);
    {% endif %}
});


</script>

{% endblock %}