<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Vital Meeting &middot; Structured Online Meetings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
    <link href="{% static "base.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "jquery/base/jquery-ui.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "jquery/base/jquery.ui.datepicker.css" %}" rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "datepicker/js/bootstrap-datepicker.js" %}"></script>
    
    <link href="{% static "datepicker/css/datepicker.css" %}" rel="stylesheet" type="text/css">

    <!--<script src="{% static "jquery/ui/jquery.ui.core.js" %}"></script>
    <script src="{% static "jquery/ui/jquery.ui.widget.js" %}"></script>

    <script src="{% static "jquery/ui/jquery.ui.datepicker.js" %}"></script>-->


</head>

<script type='text/javascript'>
var _glc =_glc || []; _glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyDgsSBXVzZXJzGJn89g4M');
var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' : 
'http://my.clickdesk.com/clickdesk-ui/browser/');
var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
var glcspt = document.createElement('script'); glcspt.type = 'text/javascript'; 
glcspt.async = true; glcspt.src = glcpath + 'livechat-new.js';
var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(glcspt, s);
</script>


<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<!--<form class="navbar-form pull-right">
                	<input type="text" name="username" class="login" placeholder="email" autocomplete="off">
                	<input type="password" name="password" class="login" placeholder="password" autocomplete="off">
                	<button type="submit" class="btn btn-primary">Log In</button>
            	</form>-->
				<a class="brand" href="..">Vital Meeting</a>
				<div class="nav-collapse collapse">
					<c class="nav">
						<li class="">
							<a data-toggle="modal" role="button" href="#myModal">Learn More</a>
						</li>
						<li class="">
							<a data-toggle="modal" role="button" href="#myModal">Contact</a>
						</li>
						<li class="">
							<a href="/create/">Create a New Meeting</a>
						</li>
					</c>
					<c class="nav pull-right">
						{% if user.is_authenticated %}
						<li class="">
							<a href="../home/">My Meetings</a>
						</li>
						<li class="">
							<a href="../profile/">Profile</a>
						</li>
						<li class="">
							<a href="../contacts/">Contacts</a>
						<li>
						<li class="">
							<a href="../logout/">Logout</a>
						</li>
						{% else %}
						<li class="">
							<a href="../login/">Login</a>
						</li>
						<li class="">
							<a href="../signup/">Sign Up</a>
						</li>
						{% endif %}
					</c>						
				</div>
			</div>
		</div>
	</div>
    {% block content %}
        Content
    {% endblock %}
    <div class="container">
	    <footer>
	        <p class="pull-right"><a href="#">Back to top</a></p>
	        <p>&copy; 2013 VitalMeeting, Inc. &middot; <a data-toggle="modal" role="button" href="#myModal">Privacy</a> &middot; <a data-toggle="modal" role="button" href="#myModal">Terms</a></p>
	    </footer>
	</div>

</body>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Under Construction</h3>
  </div>
  <div class="modal-body">
    <p>Please check back later!</p>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
  </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42713435-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html>