{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="span9">
			<!-- Create a New Meeting button goes here -->
			<div class="row" style="margin-left: 0px !important;">
				<h3 style="margin: 5px !important;">Contacts</h3>	
			</div>
			<div class="row" style="margin-left: 0px !important;">
				<a href="#cModal" role="button" class="btn" data-toggle="modal">Add a New Contact</a>
				<a class="cs_import btn" data-toggle="collapse" data-target="collapse1" style="margin-left: 10px;">Add from Address Book</a>
				<input type="text" name='search' style="width: 250px !important; float:right;" placeholder="Search existing contacts (OFF)" class="input-medium search-query">
			</div><br><br>
			<div class="row collapse out" id="collapse1" style="margin-left: 0px !important;">
				<form method="post" id="add_addr_book" style="margin:5 px; padding: 0px;">
					<textarea name="addr_contacts" style="width:450px;height:82px" id="contact_list"></textarea>
					<button type="submit" class="btn btn-mini btn-primary">Add to Contacts</button>
				</form>
			</div>
			{% for c in contacts %}
			<div class="row homemeetings" style="margin-left: 0px !important; border-bottom: 1px solid #DCDCDC;">
					{% if c.last_name %}<h4>{{c.title}} {{c.last_name}}{% if c.first_name %}, {{c.first_name}} {% endif %}</h4>{% endif %}
                    <form method="post" style="margin: 0px !important; padding: 0px !important;">{% csrf_token %}
	                    <button class="btn btn-mini btn-danger" type="submit" style="float:right;" name="remove_contact" value="{{c.id}}">Remove</button>
	                </form>
					<text><em>Email: {{c.email}}</em></text><br>
					{% if c.wphone %}<text><em>Phone: {{c.wphone}}</em></text>{% endif %}
			</div>
			{% endfor %}
		</div>
		<div class="span3">
            <div class="userinfo">
                <text class="lead" style="font-size: 15px !important;">Me</text>
            </div>
            <div class="userinfo sidebox">
                <text class="lead" style="font-size: 15px !important;">Meetings</text><br>
                <ul class="sidebox" style="margin-left: 5px;">{% for meeting in meetings %}
                <li>{{meeting.title}}</li>
                {% endfor %}</ul>
            </div>
		</div>
	</div>
</div>

<div id="cModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add a New Contact</h3>
  </div>
  <div class="modal-body">
	<form class="form-horizontal" id='c_form' style="display:inline-block;" method="post">
		{% csrf_token %}
		<input type="hidden" name="new_contact">
		<div class="control-group">
			<label class="control-label" for="inputEmail">Title</label>
			<div class="controls">
				{{ form.title }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">First name</label>
			<div class="controls">
				{{ form.first_name }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Last name</label>
			<div class="controls">
				{{ form.last_name }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">*Email</label>
			<div class="controls">
				{{ form.email }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Address</label>
			<div class="controls">
				{{ form.address }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Work Phone</label>
			<div class="controls">
				{{ form.wphone }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Home Phone</label>
			<div class="controls">
				{{ form.hphone }}
			</div>
		</div>
    </form>
  </div>
  <div class="modal-footer">
  	<button class="btn btn-primary" id="add_c">Add</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

<script>
$(document).ready(function() {
	$('#add_c').click(function() {
		$('#c_form').submit();
	});

});
</script>

<script type="text/javascript">
	var csPageOptions = {
	  domain_key:"FNJFAM6WXGREJEM5ZX5D", 
	  textarea_id:"contact_list"
	};
</script>

<script type="text/javascript" src="https://api.cloudsponge.com/address_books.js"></script>

{% endblock %}