{% extends "base.html" %}

{% block content %}

{% load static %}

<link href="{% static "formbase.css" %}" rel="stylesheet" type="text/css">


<div class="center_block container">
	<div class="title">
		<h2 style="text-align: center;">Contacts</h2>
	</div>
	<div class="cboxContact" style="height: 350px;">
		{% for contact in contacts %}
			<div class="contactEntry">
		        <form method="post" style="display: inline;">{% csrf_token %}
                    <button class="btn btn-mini btn-danger" type="submit" name="remove_contact" value="{{c.id}}">Remove</button>
                </form>
				<span style="margin-left: 10px;">
				{% if contact.last_name %}{{contact.last_name}}{% endif %}
		    	{% if contact.last_name %}{% if contact.first_name %}, {% endif %}{% endif %}
		    	{% if contact.first_name %}{{contact.first_name}} {% endif %}
		    	{% if contact.last_name %}
			    	<<em>{{contact.email}}</em>>
		    	{% else %}
			    	{% if contact.first_name %}
				    	<<em>{{contact.email}}</em>>
				    {% else %}
					    {{contact.email}}
				    {% endif %}
			    {% endif %}
				</span>
			</div>
		{% endfor %}
	</div>
    <div class="options" style="padding: 10px; text-align: center;">
    	<div class="buttons">
			<a href="#cModal" role="button" class="btn btn-primary" data-toggle="modal">Add a New Contact</a><!-- 
			<input type="text" name='search' style="width: 250px !important; float:right;" placeholder="Search existing contacts (OFF)" class="input-medium search-query"><br> -->
			<a class="cs_import btn btn-primary" style="margin-left: 10px;">Add from Address Book</a>
			<img src="{% static "google.png" %}" class="addrbook">
			<img src="{% static "apple.png" %}" class="addrbook">
			<img src="{% static "yahoo.png" %}" class="addrbook">
			<img src="{% static "aol.png" %}" class="addrbook">
			<img src="{% static "msn.png" %}" class="addrbook">
		</div>
		<div class="collapse out" id="collapse1" style="margin-left: 0px !important;">
			<form method="post" id="add_addr_book" style="margin:5 px; padding: 0px;">{% csrf_token %}
				<textarea name="addr_contacts" style="width:450px;height:82px" id="contact_list"></textarea><br>
				<button type="submit" class="btn btn-mini btn-primary">Add to Contacts</button>
			</form>
		</div>
    </div>
</div>

<div id="cModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add a New Contact</h3>
  </div>
  <div class="modal-body">
	<form class="form-horizontal" id='c_form' style="display:inline-block;" method="post">
		{% csrf_token %}
		<input type="hidden" name="new_contact">
		<div class="control-group">
			<label class="control-label" for="inputEmail">First name</label>
			<div class="controls">
				{{ form.first_name }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Last name</label>
			<div class="controls">
				{{ form.last_name }}
			</div>
		</div>
		{% if in_contacts %}
		<div class="control-group">
			<div class="controls">
				<h5 style="color: red;">Email already in contacts.</h5>
			</div>
		</div>
		{% endif %}
		<div class="control-group">
			<label class="control-label" for="inputEmail">*Email</label>
			<div class="controls">
				{{ form.email }} {% if form.email.errors %}<text style="color: red; margin-left: 5px;">Invalid input</text>{% endif %} 
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Address</label>
			<div class="controls">
				{{ form.address }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Work Phone</label>
			<div class="controls">
				{{ form.wphone }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Home Phone</label>
			<div class="controls">
				{{ form.hphone }}
			</div>
		</div>
    </form>
  </div>
  <div class="modal-footer">
  	<button class="btn btn-primary" id="add_c">Add</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>

<script>
$(document).ready(function() {
	$('#add_c').click(function() {
		$('#c_form').submit();
	});

	{% if form.errors %}
	$('#cModal').modal('show');
	{% endif %}

	{% if in_contacts %}
	$('#cModal').modal('show');
	{% endif %}

});
</script>

<script>
	var csPageOptions = {
	  domain_key:"RZ7M43JLPAH6JHE45ATN", 
	  textarea_id:"contact_list",
	  ignoreMultipleEmails:true,
	  afterSubmitContacts:function(contacts, source, owner) {
	  		// var oForm = document.getElementById('add_addr_book');
	  		// oForm.submit();
	  		$('#collapse1').collapse('show');
	  }
	};
</script>

<script type="text/javascript" src="https://api.cloudsponge.com/address_books.js"></script>

{% endblock %}
