{% extends "base.html" %}

{% block content %}

<div class="container">
	<form class="form-horizontal" style="display:inline-block;" method="post">
		{% csrf_token %}
		<input type="hidden" name="submit_request" value="submit_request">
		<div class="control-group">
			<div class="controls">
				<h3>Create Meeting</h3>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="">What Kind of Meeting?</label>
			<div class="controls">
				<span style="list-style-type: none !important;">
				{{ form.interview }}</span> {% if form.interview.errors %}<text style="color: red; padding-left: 5px;">Required</text>{% endif %}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Meeting Name</label>
			<div class="controls">
				{{ form.title }} 
				{% if form.title.errors %}
				<text style="color: red; padding-left: 5px;">Required</text>
				{% endif %}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Description</label>
			<div class="controls">
				{{ form.desc }} {% if form.desc.errors %}<text style="color: red; padding-left: 5px;">Required</text>{% endif %}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputDate">Time Zone</label>
			<div class="controls">
				{{ form.timezone }} {% if form.timezone.errors %}<text style="color: red; padding-left: 5px;">Required</text>{% endif %}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputDate">Start Date</label>
			<div class="controls">
				<input type="text" name="startdate" id="id_startdate"> {% if form.startdate.errors %}<text style="color: red; padding-left: 5px;">Required</text>{% endif %}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputTime">Start Time</label>
			<div class="controls">
				{{ form.starttime }} {% if form.starttime.errors %}<text style="color: red; padding-left: 5px;">Required</text>{% endif %}
			</div>
		</div>
		{% if time_mismatch %}
		<div class="control-group">
			<div class="controls">
				<h5 style="color: red;">Date/time error: the meeting ends before it starts!</h5>
			</div>
		</div>
		{% endif %}
		<div class="control-group">
			<label class="control-label" for="inputDate">End Date</label>
			<div class="controls">
				<input type="text" name="enddate" id="id_enddate"> {% if form.enddate.errors %}<text style="color: red; padding-left: 5px;">Required</text>{% endif %}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputTime">End Time</label>
			<div class="controls">
				{{ form.endtime }} {% if form.endtime.errors %}<text style="color: red; padding-left: 5px;">Required</text>{% endif %}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="">Meeting Privacy</label>
			<div class="controls">
				{{ form.status }} {% if form.status.errors %}<text style="color: red; padding-left: 5px;">Required</text>{% endif %}
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Create Meeting</button>
			</div>
		</div>
	</form>
</div>

<script>

$(document).ready(function() {
    $(function() {
        $( "#id_startdate" ).datepicker();
        $( "#id_enddate").datepicker();
    });
});

</script>

{% endblock %}