{% extends "base.html" %}

{% block content %}

{% load static %}


<link href="{% static "formbase.css" %}" rel="stylesheet" type="text/css">


<div class="center_block container">
	<div class="title">
		<h2 style="text-align: center;">My Meetings</h2>
	</div>
		<div class="tabbable">
			<ul class="nav nav-tabs" style="margin-left: 5px;">
				<li class="active"><a href="#tab1" data-toggle="tab">meetings I'm in</a></li>
				<li><a href="#tab2" data-toggle="tab">meetings I created</a></li>
				<li><a href="#tab3" data-toggle="tab">past meetings</a></li>
				<li><a href="#tab4" data-toggle="tab">organizations</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<div class="cboxContact" style="height: 350px;">
						{% for m in meetingsin %}
						<div style="border-bottom: 1px solid #ccc; padding-top: 5px; white-space: wrap;">
								<a href="../meeting/{{ m.meeting_id }}" style="font-size: 17.5px; font-weight: bold; line-height: 20px; margin-top: 0px !important; margin-bottom: 5px !important;"> {{m.title}}</a>
								{% if m.desc %}<br><text>{{ m.desc}}</text>{% endif %}<br>
								<text style="color: #999; font-size: 12px;">created by 
								{% for host in m.hosts.all %}
								{% if host.user.first_name == user.first_name and host.user.last_name == user.last_name %}
								  you
								{% else %}
								  {{host.user.first_name}}
								 {{host.user.last_name}} 
								{% endif %}
								{% endfor %}
								</text>
								{% if m.uses_dt %}<text style="float:right; color: #999; font-size: 12px;"><text style="color:black;">{{m.starttime}}</text>, {{m.startdate}} <span style="padding-left: 10px; padding-right: 13px;">--</span><text style="color:black;">{{m.endtime}}</text>, {{m.enddate}}</text>{% endif %}
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="tab-pane" id="tab2">
					<div class="cboxContact" style="height: 350px">
						{% for m in meetingscreated %}
						<div style="border-bottom: 1px solid #ccc; padding-top: 5px;">
								<a href="../meeting/{{ m.meeting_id }}" style="font-size: 17.5px; font-weight: bold; line-height: 20px; margin-top: 0px !important; margin-bottom: 5px !important;"> {{m.title}}</a>
								{% if m.desc %}<br><text>{{ m.desc}}</text>{% endif %}<br>
								<text style="color: #999; font-size: 12px;">created by you</text>
								{% if m.uses_dt %}<text style="float:right; color: #999; font-size: 12px;"><text style="color:black;">{{m.starttime}}</text>, {{m.startdate}} <span style="padding-left: 10px; padding-right: 13px;">--</span><text style="color:black;">{{m.endtime}}</text>, {{m.enddate}}</text>{% endif %}
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="tab-pane" id="tab3">
					<div class="cboxContact" style="height: 350px">
						{% for m in meetingspast %}
						<div style="border-bottom: 1px solid #ccc; padding-top: 5px;">
								<a href="../meeting/{{ m.meeting_id }}" style="font-size: 17.5px; font-weight: bold; line-height: 20px; margin-top: 0px !important; margin-bottom: 5px !important;"> {{m.title}}</a>
								{% if m.desc %}<text> - {{ m.desc}}</text>{% endif %}<br>
								<text style="color: #999; font-size: 12px;">created by 
								{% for host in m.hosts.all %}
								{% if host.user.first_name == user.first_name and host.user.last_name == user.last_name %}
								  you
								{% else %}
								  {{host.user.first_name}}
								 {{host.user.last_name}} 
								{% endif %}
								{% endfor %}
								</text>
								{% if m.uses_dt %}<text style="float:right; color: #999; font-size: 12px;"><text style="color:black;">{{m.starttime}}</text>, {{m.startdate}} <span style="padding-left: 10px; padding-right: 13px;">--</span><text style="color:black;">{{m.endtime}}</text>, {{m.enddate}}</text>{% endif %}
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="tab-pane" id="tab4">
					<div class="cboxContact" style="height: 350px">
						{% for org in organizations %}
						<div style="border-bottom: 1px solid #ccc; padding-top: 5px;">
								<a href="../orgs/{{ org.page_id }}" style="font-size: 17.5px; font-weight: bold; line-height: 20px; margin-top: 0px !important; margin-bottom: 5px !important;"> {{org.name}}</a><text> - {{ org.desc}}</text><br>
								<text style="color: #999; font-size: 12px;">contact: {{org.contact}}</text>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
    <div class="options" style="padding: 10px; text-align: center;">
    	<a class="btn btn-primary" href="../create/">Create a Meeting</a>
    	<a class="btn btn-primary" style="margin-left: 10px;" href="../addorganizer/">Create an Organization</a>
    </div>
</div>


<script>
$(document).ready(function() {

	$('#tab1').click(function (e) {
		//e.preventDefault();
		$(this).tab('show');
	});
	$('#tab2').click(function (e) {
		//e.preventDefault();
		$(this).tab('show');
	});
	$('#tab3').click(function (e) {
		//e.preventDefault();
		$(this).tab('show');
	});
});
</script>

{% endblock %}