{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container">
	<div class="row">
		<div class="span9">
			<!-- Create a New Meeting button goes here -->
			<div class="tabbable">
				<div class="row" style="margin-bottom: 20px !important; margin-left: 0px !important;">
					<div style="">
						<a href="../create/" class="btn" style="float: none !important; margin-right: 5px;">Create a New Meeting</a>
						<a href="../addorganizer/" class="btn" style="float: none !important; margin-right: 5px;">Create a New Organization</a>
					</div>
				</div>
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1" data-toggle="tab">meetings I'm in</a></li>
					<li><a href="#tab2" data-toggle="tab">meetings I created</a></li>
					<li><a href="#tab3" data-toggle="tab">past meetings</a></li>
					<li><a href="#tab4" data-toggle="tab">organizations</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
						{% for m in meetingsin %}
						<div class="row homemeetings profrow">
								<a href="../meeting/{{ m.meeting_id }}" style="font-size: 17.5px; font-weight: bold; line-height: 20px; margin-top: 0px !important; margin-bottom: 5px !important;"> {{m.title}}</a>
								{% if m.desc %}<br><text>{{ m.desc}}</text>{% endif %}<br>
								<text style="color: #999; font-size: 12px;">created by 
								{% for host in m.hosts.all %}
								{% if host.user.first_name == user.first_name and host.user.last_name == user.last_name %}
								  you
								{% else %}
								  {{host.user.first_name}}
								 {{host.user.last_name}} 
								{% endif %}
								{% endfor %}
								</text>
								<text style="float:right; color: #999; font-size: 12px;"><text style="color:black;">{{m.starttime}}</text>, {{m.startdate}} <span style="padding-left: 10px; padding-right: 13px;">--</span><text style="color:black;">{{m.endtime}}</text>, {{m.enddate}}</text>
						</div>
						{% endfor %}
					</div>
					<div class="tab-pane" id="tab2">
						{% for m in meetingscreated %}
						<div class="row homemeetings profrow">
								<a href="../meeting/{{ m.meeting_id }}" style="font-size: 17.5px; font-weight: bold; line-height: 20px; margin-top: 0px !important; margin-bottom: 5px !important;"> {{m.title}}</a>
								{% if m.desc %}<br><text>{{ m.desc}}</text>{% endif %}<br>
								<text style="color: #999; font-size: 12px;">created by you</text>
								<text style="float:right; color: #999; font-size: 12px;"><text style="color:black;">{{m.starttime}}</text>, {{m.startdate}} <span style="padding-left: 10px; padding-right: 13px;">--</span><text style="color:black;">{{m.endtime}}</text>, {{m.enddate}}</text>
						</div>
						{% endfor %}
					</div>
					<div class="tab-pane" id="tab3">
						{% for m in meetingspast %}
						<div class="row homemeetings profrow">
								<a href="../meeting/{{ m.meeting_id }}" style="font-size: 17.5px; font-weight: bold; line-height: 20px; margin-top: 0px !important; margin-bottom: 5px !important;"> {{m.title}}</a>
								{% if m.desc %}<text> - {{ m.desc}}</text>{% endif %}<br>
								<text style="color: #999; font-size: 12px;">created by 
								{% for host in m.hosts.all %}
								{% if host.user.first_name == user.first_name and host.user.last_name == user.last_name %}
								  you
								{% else %}
								  {{host.user.first_name}}
								 {{host.user.last_name}} 
								{% endif %}
								{% endfor %}
								</text>
								<text style="float:right; color: #999; font-size: 12px;"><text style="color:black;">{{m.starttime}}</text>, {{m.startdate}} <span style="padding-left: 10px; padding-right: 13px;">--</span><text style="color:black;">{{m.endtime}}</text>, {{m.enddate}}</text>
						</div>
						{% endfor %}
					</div>
					<div class="tab-pane" id="tab4">
						{% for org in organizations %}
						<div class="row homemeetings profrow">
								<a href="../orgs/{{ org.page_id }}" style="font-size: 17.5px; font-weight: bold; line-height: 20px; margin-top: 0px !important; margin-bottom: 5px !important;"> {{org.name}}</a><text> - {{ org.desc}}</text><br>
								<text style="color: #999; font-size: 12px;">contact: {{org.contact}}</text>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="span3">
            <div class="userinfo sidebox" style="padding-top: 5px !important; padding-left: 10px !important;">
	            <h4>{{ account.user.first_name }} {{ account.user.last_name }}</h4>
            	{% if account.prof_pic != 'False' %}
            	<img src="{{account.prof_pic.url}}" style="width: 70px; height: auto;"><br>{% endif %}
	            {{ account.user.email }}<br>
	            <a href="../profile/{{account.page_id}}">View public profile</a>
            </div>
            <div class="userinfo sidebox">
                <i class="icon-user"></i>
                <text class="lead" style="font-weight: bold; font-size: 15px !important;">Contacts ({{account.contacts.all.count}}):</text><br><ul class="sidebox" style="">
                {% for contact in account.contacts.all %}
                <li>{% if contact.last_name %}{{contact.last_name}}{% if contact.first_name %},{% endif %} {% endif %} {% if contact.first_name %}{{contact.first_name}}{% endif %} <<em>{{contact.email}}</em>></li>
                {% endfor %}</ul>
            </div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {

	$('#tab1').click(function (e) {
		//e.preventDefault();
		$(this).tab('show');
	});
	$('#tab2').click(function (e) {
		//e.preventDefault();
		$(this).tab('show');
	});
	$('#tab3').click(function (e) {
		//e.preventDefault();
		$(this).tab('show');
	});
});
</script>

{% endblock %}