<!DOCTYPE html>
<head>
<title> Vital Meeting - UserPage </title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "vitalmeeting.css" %}" />
</head>
<body>

<div id="box1">
<table>
<tr class="header">
<td class="column1"> <a href="index.html"> <img src="{% static "images/logo.gif" %}" width="258" height="46" alt="Vital Meeting"> </a> </td>
<td class="column3"> <a href=""> <span> See </span> </a> people <br /> making things happen </td>
<td class="column4"> <a href="../contacts/"> <span> My Contacts </span> </a> </td>
<td class="column4"> <a href="../home/"> <span> My Meetings </span> </a> </td>
<td class="column5"> <a href=""> help </a> </td>
<td class="column6"> <a href=""> {% if account.prof_pic != 'None' %}<img src="{{account.prof_pic.url}}" style="width: 50px; height: 50px;"> {% endif %}</a> </td>
<td class="column7"> {{user.first_name}} {{user.last_name}}<br /> <a href="../logout/"> logout </a> </td>
</tr>
</table>
</div> <!-- end of box1 -->

<div id="meetingnav">
<ul class="nav">
<li> <a href="" id="mymeetings">My Meetings</a> </li>
<li> <a href="../create/">Create A Meeting</a> </li>
<li> <a href="../addorganizer/">Create An Organization</a> </li>
<li> <a href="" id="myorgs">My Organizations</a> </li>
</ul>

<div id="meetingpad">
<div id="meetingsidebar">

<ul class="meetingsidebar" id="meetingsidebar_disp">
<li> <a href="#" id="min"> Meetings I'm In ({{meetingsin|length}}) </a> </li>
<li> <a href="#" id="mcr"> Meetings I Created ({{meetingscreated|length}}) </a> </li>
<li> <a href="#" id="mpa"> Past Meetings ({{meetingspast|length}}) </a> </li>
</ul>
<ul class="meetingsidebar" id="orgsidebar_disp">

</ul>

</div> <!-- end of meeting sidebar -->

<div id="meetings_in" style="height: 400px; overflow: scroll;">
<table class="inbox">
<tr class="headline">
<th></th>
<th> Starting </th>
<th> Ends </th>
<th> TimeZone </th>
</tr>
{% for meeting in meetingsin %}
<tr>
<td> <a href="../meeting/{{meeting.meeting_id}}"> {{meeting.title}}</a> </td>
<td> {% if meeting.uses_dt %}{{meeting.starttime}} {{meeting.startdate}} {% else %} n/a {% endif %} </td>
<td> {% if meeting.uses_dt %}{{meeting.endtime}} {{meeting.enddate}} {% else %} n/a {% endif %}</td>
<td> {{meeting.timezone}} </td>
</tr>
{% endfor %}
</table>
</div>

<div id="meetings_created" style="height: 400px; overflow: scroll;">
<table class="inbox">
<tr class="headline">
<th></th>
<th> Starting </th>
<th> Ends </th>
<th> TimeZone </th>
</tr>
{% for meeting in meetingscreated %}
<tr>
<td> <a href="../meeting/{{meeting.meeting_id}}"> {{meeting.title}}</a> </td>
<td> {% if meeting.uses_dt %}{{meeting.starttime}} {{meeting.startdate}} {% else %} n/a {% endif %} </td>
<td> {% if meeting.uses_dt %}{{meeting.endtime}} {{meeting.enddate}} {% else %} n/a {% endif %}</td>
<td> {{meeting.timezone}} </td>
</tr>
{% endfor %}
</table>
</div>

<div id="meetings_past" style="height: 400px; overflow: scroll;">
<table class="inbox">
<tr class="headline">
<th></th>
<th> Starting </th>
<th> Ends </th>
<th> TimeZone </th>
</tr>
{% for meeting in meetingspast %}
<tr>
<td> <a href="../meeting/{{meeting.meeting_id}}"> {{meeting.title}}</a> </td>
<td> {% if meeting.uses_dt %}{{meeting.starttime}} {{meeting.startdate}} {% else %} n/a {% endif %} </td>
<td> {% if meeting.uses_dt %}{{meeting.endtime}} {{meeting.enddate}} {% else %} n/a {% endif %}</td>
<td> {{meeting.timezone}} </td>
</tr>
{% endfor %}
</div>
</table>
</div> <!-- End of Meeting List -->

<div id="orglist" style="height: 400px; overflow: scroll;">
<table class="inbox">
<tr class="headline">
<th></th>
</tr>
<div id="meetings_in">
{% for org in organizations %}
<tr>
<td> <a href="../organization/{{org.page_id}}"> {{org.name}}</a> </td>
</tr>
{% endfor %}
</div>
</table>
</div>

</div> 

</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

$(document).ready(function() {
	$('#orgsidebar_disp').hide();
	$('#orglist').hide();
	$('#meetings_past').hide();
	$('#meetings_created').hide();

	$('#mymeetings').click(function(e) {
		e.preventDefault();
		$('#orgsidebar_disp').hide();
		$('#orglist').hide();
		$('#meetingsidebar_disp').show();
		$('#meetings_in').show();
	});
	$('#myorgs').click(function(e) {
		e.preventDefault();
		$('#orgsidebar_disp').show();
		$('#orglist').show();

		$('#meetingsidebar_disp').hide();
		$('#meetings_in').hide();
		$('#meetings_created').hide();
		$('#meetings_past').hide();
	});

	$('#min').click(function(e) {
		e.preventDefault();
		$('#meetings_in').show();
		$('#meetings_created').hide();
		$('#meetings_past').hide();
	});
	$('#mcr').click(function(e) {
		e.preventDefault();
		$('#meetings_in').hide();
		$('#meetings_created').show();
		$('#meetings_past').hide();
	});
	$('#mpa').click(function(e) {
		e.preventDefault();
		$('#meetings_in').hide();
		$('#meetings_created').hide();
		$('#meetings_past').show();
	});
});

</script>
</html>




