<!DOCTYPE html>
<html>
<head>
<title> VitalMeeting - Make Things Happen </title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "vitalmeeting.css" %}" />
</head>
<body>
<div class="header">

  <div id="box1">
    {% if not user.is_authenticated %}
      <table>
      <tr class="header">
      <td class="column1"> <a href="/"> <img src="{% static "images/logo.gif" %}" width="258" height="46" alt="Vital Meeting"> </a> </td>
      <td class="column2"> <a id="column2" href=""> What is Vital <br /> Meeting? </a> </td>
      <td class="column3"> <a href=""> <span> See </span> </a> people <br /> making it happen </td>
      <td class="column4"> <a href="/create/"> <span> Start </span> </a> <br /> your meeting </td>
      <td class="column5"> <a href=""> help </a> </td>
      <td class="column6"> <a href="/signup/"> signup </a> </td>
      <td class="column7"> <a href="/login/"> login </a> </td>
      </tr>
      </table>
    {% else %}
    <table>
    <tr class="header">
    <td class="column1"> <a href="/"> <img src="{% static "images/logo.gif" %}" width="258" height="46" alt="Vital Meeting"> </a> </td>
    <td class="column3"> <a href=""> <span> See </span> </a> people <br /> making things happen </td>
    <td class="column4"> <a href="/contacts/"> <span> My Contacts </span> </a> </td>
    <td class="column4"> <a href="/home/"> <span> My Meetings </span> </a> </td>
    <td class="column5"> <a href=""> help </a> </td>
    <td class="column6"> <a href=""> {% if account.prof_pic != 'None' %}<img src="{{account.prof_pic.url}}" style="width: 50px; height: 50px;"> {% endif %}</a> </td>
    <td class="column7"> {{user.first_name}} {{user.last_name}}<br /> <a href="../logout/"> logout </a> </td>
    </tr>
    </table>
    {% endif %}
  </div> <!-- end of box1 -->
</div>

<div id="box2">
<table>
<tr>
<td> <span class="mainfeature"> make things happen </span> <br /> <a href=""> <img src="{% static "images/LearnMoreButton.jpg" %}" alt="Learn More" width="127" height="34"> </a> </td>
<td> <img src="{% static "images/dirtybeach.jpg" %}" alt="A dirty beach" width="315" height="221"> </td>
<td> <img src="{% static "images/forwardicon.jpg" %}" alt="Changes to" width="15" height="17" </td>
<td> <img src="{% static "images/cleanbeach.jpg" %}" alt="A beautiful beach" width="330" height="219" </td>
</tr>
</table>
</div> <!-- end of box2 -->



<table class="headings">
<tr>
<td> <h2> meetings in progress &#46;&#46;&#46; </h2> <td>
<td> <h3> see more &#62; </h3>
</tr>
</table> <!-- headings table ends here -->

<table class="features">
<tr>
<td class="feature1">
<table class="mini">
<tr>
<td colspan="3">
<img src="{% static "images/trafficjam.jpg" %}" alt="Traffic Jam" width="274" height="180"> </td> </tr>
<tr> 
<td colspan="3" class="meeting title"> <b> Easing traffic problem on Mass. Avenue </b> </td> </tr>

<tr> <td colspan="3"> by <span id="meetinghost"> John Smith </span> </td> </tr>
<tr> <td colspan="3"> Status: "Meeting In Progress" </td> </tr>
<tr> 
<td colspan="3"> <img src="{% static "images/Locationicon.gif" %}" alt="location icon" width="15" height="23">  Boston, MA, USA </td> 
</tr>
<tr class="stats"> 
<td> 52 <br /> Attending </td>
<td> 26 <br /> Agenda Items </td>
<td> 25 <br /> Motions </td>
</tr>
</table> <!-- end of table mini class -->
</td> <!-- end of feature1 -->

<td class="feature2">
<table class="mini">
<tr>
<td colspan="3">
<img src="{% static "images/kidondirtystreet.jpg" %}" alt="Traffic Jam" width="242" height="181"> </td> </tr>
<tr> 
<td colspan="3" class="meeting title"> <b> Street Clean-Up and Build a Kids' Play Area</b> </td> </tr>

<tr> <td colspan="3"> by <span id="meetinghost"> Ann Smith </span> </td> </tr>
<tr> <td colspan="3"> Status: Live Meeting in Progress with the MP of Kamukunji </td> </tr>
<tr> 
<td colspan="3"> <img src="{% static "images/Locationicon.gif" %}" alt="location icon" width="15" height="23">  Nairobi, Kenya </td> 
</tr>
<tr class="stats"> 
<td> 101 <br /> Attending </td>
<td> 27 <br /> Agenda Items </td>
<td> 58 <br /> Motions </td>
</tr>
</table> <!-- end of table mini class -->
</td> <!-- end of feature 2 -->

<td class="feature3">
<table class="mini">
<tr>
<td colspan="3">
<img src="{% static "images/emptyland.jpg" %}" alt="Traffic Jam" width="275" height="186"> </td> </tr>
<tr> 
<td colspan="3" class="meeting title"> <b> Construction of affordable housing on this land </b> </td> </tr>

<tr> <td colspan="3"> by <span id="meetinghost"> John Smith </span> </td> </tr>
<tr> <td colspan="3"> Status: Live Meeting in Progress with Potential Investors </td> </tr>
<tr> 
<td colspan="3"> <img src="{% static "images/Locationicon.gif" %}" alt="location icon" width="15" height="23">  Lima, Peru </td> 
</tr>
<tr class="stats"> 
<td> 32 <br /> Attending </td>
<td> 15 <br /> Agenda Items </td>
<td> 19 <br /> Motions </td>
</tr>
</table> <!-- end of table mini class -->
</td> <!-- end of feature 3 -->
</tr>
</table> <!-- end of table -->

<div class="footer">
<p>
<ul>
<li> <a href=""> help </a>  </li>
<li> <a href=""> privacy </a>  </li>
<li> <a href=""> terms </a>  </li>
<li> <a href=""> contact </a>  </li>
<li> <a href=""> copyright &copy; 2013 VitalMeeting, Inc.  </a> </li>
</ul>
</p>
</div>


</body>
</html>
