
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vital Meeting &middot; Make It Happen.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <!-- Le styles -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
    <link href="{% static "flexslider/flexslider.css" %}" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">

    <link href="{% static "frontpage.css" %}" rel="stylesheet">
  </head>

<!-- ClickDesk Live Chat Service for websites -->
<script type='text/javascript'>
var _glc =_glc || []; _glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyDgsSBXVzZXJzGJn89g4M');
var glcpath = (('https:' == document.location.protocol) ? 'https://my.clickdesk.com/clickdesk-ui/browser/' : 
'http://my.clickdesk.com/clickdesk-ui/browser/');
var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
var glcspt = document.createElement('script'); glcspt.type = 'text/javascript'; 
glcspt.async = true; glcspt.src = glcpath + 'livechat-new.js';
var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(glcspt, s);
</script>

  <body>



    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            {% if user.is_authenticated %}
            <c class="nav pull-right">
              <li class="">
                <a href="../home/">Home</a>
              </li>
              <li class="">
                <a href="../profile/">Profile</a>
              </li>
              <li class="">
                <a href="../contacts/">Contacts</a>
              </li>
              <li class="">
                <a href="../logout/">Logout</a>
              </li>
            </c>
            {% else %}
            <div class="nav-collapse collapse">
              <c class="nav pull-right" style="margin-left: 5px; margin-top: 2px;">
                <a href="../signup/" class="btn btn-small">Sign Up</a>
              </c>
            </div>
            <form class="navbar-form pull-right" method="post">
            {% csrf_token %}
              <input type="text" name="username" class="login" placeholder="email" autocomplete="off">
              <input type="password" name="password" class="login" placeholder="password" autocomplete="off">
              <button type="submit" class="btn btn-primary">Log In</button>
            </form>
            {% endif %}
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="brand" href=>Vital Meeting</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a data-toggle="modal" role="button" href="#myModal">Learn More</a></li>
                <li><a data-toggle="modal" role="button" href="#myModal">Contact</a></li>
              </u1>
            </div>

            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">

              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->



    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static "darker.jpg" %}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Vital Meeting.</h1>
              <p class="lead">Connect with others. Solve problems.</p>
              <a class="btn btn-large btn-primary" href="../create/">Make It Happen</a>

            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- FOOTER -->
  <div class="container" style="">
    <div class="row" style="text-align: center; margin-top: 0px;">
      <h1>Three Ways to Move Forward:</h1>
    </div>
    <div class="row" style="margin-top: 30px; text-align: center;">
      <div class="span4">
        <h3 style="">Agenda Items</h3>
        <img src="{% static "portion.png" %}" style="width: 260px; height: 145px;"><br><br>
        <p>Structure and focus your meetings. Move a motion, and leave comments on those of others. See what matters most. </p>
        <p><a class="btn" href="#">See it in action &raquo;</a></p>
      </div>
      <div class="span4">
        <h3>Interviews</h3>
        <img src="{% static "qanda.png" %}" style="width: 260px; height: 145px;"><br><br>
        <p>Reach the hard-to-reach. A structured Q&A format, with total control over which questions are sent to your guest.  </p>
        <p><a class="btn" href="#">See it in action &raquo;</a></p>
     </div>
      <div class="span4">
        <h3>Interactive Chats</h3>
        <img src="{% static "livechat.png" %}" style="width: 230px; height: 145px;"><br><br>
        <p>An interview, but totally interactive. All members can chat with your guest about the important issues.</p>
        <p><a class="btn" href="#">See it in action &raquo;</a></p>
      </div>
    </div>
    <div class="row" style="text-align: center; margin-top: 50px;">
      <h1>Have that Vital Meeting.</h1>
    </div>
    <footer style="margin-top: 50px;">
      <p>&copy; 2013 Vital Meeting, Inc. &middot; <a data-toggle="modal" role="button" href="#myModal">Privacy</a> &middot; <a data-toggle="modal" role="button" href="#myModal">Terms</a></p>
    </footer>
  </div>
  <div class="flexslider">
    <ul class="slides">
      <li>
        <img src="{% static "achieve.png" %}" style="width: 400px; height: 400px;">
      </li>
      <li>
        <img src="{% static "brainstorm.png" %}" style="width: 400px; height: 400px;">
      </li>
      <li>
        <img src="{% static "lead.png" %}" style="width: 400px; height: 400px;">
      </li>
    </ul>
  </div>

  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Under Construction</h3>
    </div>
    <div class="modal-body">
      <p>Please check back later!</p>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
    </div>
  </div>

  </body>

<script src="{% static "flexslider/jquery.flexslider-min.js" %}"></script>
<script>

$(document).ready(function() {
  $('.flexslider').flexslider({ animation: "slide"});
});

</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42713435-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html>