{% extends "base.html" %}

{% block content %}

{% load static %}

<link href="{% static "formbase.css" %}" rel="stylesheet" type="text/css">

<style>

.form-horizontal .control-label {
	width: 185px !important;
	text-align: center;
}

.form-horizontal .controls {
	padding-left: 30px !important;
}

</style>

<div class="center_block container" style="width: 80%;">
	<div class="form_block" style="width: 60%;">
		<form class="form-horizontal" method="post">
			{% csrf_token %}
			<input type="hidden" name="submit_request" value="submit_request">
			<div class="control-group">
				<div class="controls">
					<h3>Invite Members</h3>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Write out addresses:</label>
				<div class="controls">
					<textarea name="entered" style="width:300px;height:82px;" wrap="off" placeholder="One email per line."></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">
					<a class="cs_import btn" style="padding: 5px !important;">Invite from Address Book</a><br>
					<img src="{% static "google.png" %}" class="addrbook">
					<img src="{% static "apple.png" %}" class="addrbook">
					<img src="{% static "yahoo.png" %}" class="addrbook">
					<img src="{% static "aol.png" %}" class="addrbook">
					<img src="{% static "msn.png" %}" class="addrbook">
				</label>
				<div class="controls">
					<textarea name="addr_contacts" style="width:300px;height:82px;" id="contact_list"></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">
					<a class="btn" data-toggle="modal" role="button" href="#inviteModal" style="padding: 5px !important;">Invite from contacts </a></label>
					<input type="hidden" id="from_contacts" name="from_contacts" />
				<div class="controls" id="acknowledge">
					<text style="line-height: 45px;">No contacts selected.</text>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" name="remember"> Save invited contacts</input>
					</label>
					{% if meeting.private %}
					<label class="checkbox">
						<input type="checkbox" name="allow_fi"> Allow meeting members to invite others to this meeting</input>
					</label>
					{% endif %}
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">Invite Now</button>
					<button type="submit" name="invite_later" class="btn btn-primary">Invite Later</button>
					<button type="submit" name="later" class="btn btn-primary">Skip</button>
				</div>
			</div>
		</form>
	</div>
	<div class="blurb_block" style="width: 30%; margin-top: 75px;">
		<h4 style="text-align: center;">Info</h4><br>
		<text>"Invite Now" will send out invites to this meeting instantly.</text><br><br>
		<text>"Invite Later" will save these invites, but not send them out. You will be able to send them out later on the meeting page, without any need to re-invite.</text><br><br>
		<text>Click "Skip" to not invite anyone to the meeting (you can send out invites later).</text><br><br>
	</div>
</div>

<div id="inviteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Invite From Contacts</h3>
  </div>
  <div class="modal-body">
    <div class="innerCheckbox">
    	{% for contact in account.contacts.all %}
	    	<div class="cboxContact">
		    	<input type="checkbox" name="c_select" value="{{contact.id}}"></input>
		    	<span style="margin-left: 10px;">
		    	{% if contact.last_name %}{{contact.last_name}}{% endif %}
		    	{% if contact.last_name %}{% if contact.first_name %}, {% endif %}{% endif %}
		    	{% if contact.first_name %}{{contact.first_name}} {% endif %}
		    	{% if contact.last_name %}
			    	<<em>{{contact.email}}</em>
		    	{% else %}
			    	{% if contact.first_name %}
				    	<<em>{{contact.email}}</em>
				    {% else %}
					    {{contact.email}}
				    {% endif %}
			    {% endif %}
				</span>
		    </div>
    	{% endfor %}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" id="confirm_contacts" class="btn btn-primary">Ok</button>
  </div>
</div>

<script>
$(function() {

	$('#confirm_contacts').click(function() {
		added = '';
		$('input[name=c_select]:checked').each(function() {
			added += $(this).val() + ' ';
		});
		$('#from_contacts').val(added);
		$('#acknowledge').html('<text style="line-height: 45px; color:#08c;">Contacts added successfully.</text>');
	});

});

</script>

<script>
	var csPageOptions = {
	  domain_key:"RZ7M43JLPAH6JHE45ATN", 
	  textarea_id:"contact_list",
	  ignoreMultipleEmails:true,
	};
</script>

<script type="text/javascript" src="https://api.cloudsponge.com/address_books.js"></script>


{% endblock %}
