{% extends "base.html" %}

{% block content %}
    <header class="subhead" id="overview">
        <div class="container">
            <div class="info">
                <h2>{{ m.title }}</h2>
                <p>{{ m.desc }}</p>
            </div>
            <div class="time">
                <div class="endtime">
                    <div class="timedisp">{{ m.endtime }}</div>
                    <div class="datedisp">{{ m.enddate }}</div>
                </div>
                <div class="timelabel">Ends:</div>
                <div class="starttime">
                    <div class="timedisp">{{ m.starttime }}</div>
                    <div class="datedisp">{{ m.startdate }}</div>
                </div>
                <div class="timelabel">Starts:</div>
            </div>

        </div>
    </header>
    <!--<div class="container-fluid">
        <div id="content" class="span9">
            <p class="lead">Top Motions</p>
        </div>
        <div id="sidebar" class="span3">
            yo
        </div>
    </div>-->

    <div class="container">
        <div class="row">
            <div class="span9"><p class="lead">Agenda Items</p>
                {% for ai in agenda_items %}
                 <div class="agendaItem narrow" id="mot1">
                    <div class="agendatitle collapse-group">
                        <text class="agenda"> {{ ai.name }}</text><text class="" style="margin-left: 5px; font-size: 14px; color: #999;">[{{ai.motions.all.count}}    motions]</text>
                        <a class="btn btn-mini showmotions" href="#">+</a>
                        <div class="collapse">
                            {% for motion in ai.motions.all %}
                            <div class="motion">
                                <div class="title">
                                    <text>{{ motion.name }}</text>
                                    <text style="color: #999"> by {{motion.user.name}}</text>
                                </div>
                                <div class="status">
                                   <i class="icon-thumbs-up" style="cursor:hand; cursor:pointer;" id="like_{{ motion.id }}" value="{{motion.likes}}"></i>
                                    <text style="padding-right: 5px; color: #000066;"> <span id="span_like_{{ motion.id}}">{{motion.likes}}</span></text>

                                    <i class="icon-thumbs-down" style="cursor:hand; cursor:pointer;" id="dislike_{{ motion.id}}" value="{{motion.dislikes}}"></i>
                                    <text style="padding-right: 10px; color: #990033;"><span id="span_dislike_{{ motion.id}}">{{motion.dislikes}}</span></text>

                                    <text>{{motion.comments.all.count}}</text><text style="color: #999"> comments</text>
                                    <a class="btn btn-mini" id="c2" href="#">+</a>
                                </div>
                                {% for comment in motion.comments.all %}
                                <div class="comment">
                                    YOOOOOO <p></p>
                                    <text style="float: right;"> by {{comment.user.name}}</text>
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="motion" style="margin-left: 50px !important; margin-top: 10px !important;">
                            <div class="title" style="height: 40px !important;">

                                    <form method="post">{% csrf_token %}
                                <div class="input-append">
                                        <input class="span2" name="motiontext" type="text" style="width: 250px;" placeholder="Add a motion">
                                        <button class="btn" name="addmotion" value="{{ ai.id }}" type="submit"><i class="icon-pencil" style="padding-right: 5px;"></i>
                                        <!-- removing the </button> here made the post work? what? -->
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="span3">
                <div class="userinfo">
                    <i class="icon-user"></i>
                    <text class="lead" style="font-size: 15px !important;">Host (1):</text>
                </div>
                <div class="userinfo">
                    <i class="icon-user"></i>
                    <text class="lead" style="font-size: 15px !important;">Moderators ({{m.moderators.all.count}}):</text>
                </div>
                <div class="userinfo">
                    <i class="icon-user"></i>
                    <text class="lead" style="font-size: 15px !important;">Members ({{m.members.all.count}}):</text>
                </div>
            </div>
        </div>
        <footer style="padding-top: 20px;">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </div>

<script>
    $(function() {
        $(document).ready(function(){ 
            $('.showmotions').click(function(e) {
                e.preventDefault();
                var $collapse = $(this).closest('.collapse-group').find('.collapse');
                $collapse.collapse('toggle');
            });

            var data;
            $('.icon-thumbs-up').click(function(e) {
                id = $(this).attr('id').split('_')[1];
                data = $(this).attr('id') + ' up';
                // TODO: send data via ajax to server

                var newlikes = parseInt($(this).attr('value')+1);
                $('#span_like_'+id+'').text(newlikes);
            });

            $('.icon-thumbs-down').click(function(e) {
                id = $(this).attr('id').split('_')[1];
                data = $(this).attr('id') + ' down';

                var newlikes = parseInt($(this).attr('value')+1);
                $('#span_dislike_'+id+'').text(newlikes);
            });
        });
    });
</script>

{% endblock %}

