{% extends "base.html" %}

{% block content %}
    <header class="subhead" id="overview">
        <div class="container">
            <div class="info">
                <h2>{{ m.title }}</h2>
                <p>{{ m.desc }}</p>
            </div>
            <div class="time">
                <div class="row">
                    <div class="endtime">
                        <div class="timedisp">{{ m.endtime }}</div>
                        <div class="datedisp" style="padding-top: 3px;">{{ m.timezone }}<br> {{ m.enddate }}</div>
                    </div>
                    <div class="timelabel">Ends:</div>
                    <div class="starttime">
                        <div class="timedisp">{{ m.starttime }}</div>
                        <div class="datedisp" style="padding-top: 3px;">{{ m.timezone }}<br> {{ m.startdate }}</div>
                    </div>
                    <div class="timelabel">Starts:</div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="span9"><p class="lead">Agenda Items</p>
                {% for ai in agenda_items %}
                <div class="row ai_row">
                    <div class="row ai_title">
                        <text class="agenda" style="padding-right: 5px;"><span id="ai_num">{{ai.number}}</span>. <span id="ai_name">{{ai.name}}</span></text>
                        <button class="btn hoverblack alter" data-toggle="collapse" id="showmotions_{{ai.id}}" data-target="#ai_{{ai.id}}">show motions ({{ai.motions.all.count}})</button>
                        {% if user.is_authenticated %}<button class="btn hoverblack alter" data-toggle="collapse" name="addmotion" data-target="#addmotion_{{ai.id}}">add a motion</a>{% endif %}
                        {% if user == host.user %}
                        <button class="btn btn-mini" name="editai" id="{{ai.id}}"><i class="icon-pencil"></i> edit</button>
                        {% endif %}
                    </div>
                    <div class="row" style="margin-bottom: 20px !important" id="ai_{{ai.id}}">
                        {% for motion in ai.motions.all %}
                        {% if forloop.counter0 < 5 %}
                        <div class="indented">
                            <div class="row motion">
                                <div class="row motiontitle">
                                    {% if motion.modded %}
                                        <em>{{motion.name}}</em>
                                    {% else %}
                                        {% if user == host.user or motion.user.user == user %}
                                            <form method="post" style="margin: 0px !important; padding: 0px !important;">{% csrf_token %}
                                            <text>{{motion.name}}</text>
                                                <button class="btn btn-mini btn-danger" type="submit" style="float:right;" name="remove_motion" value="{{motion.id}}">Remove</button>
                                                {% if motion.user.user == user %}
                                                <button class="btn btn-mini" name="editmotion" id="editmotion_{{motion.id}}" style="float:right; margin-right: 5px !important;"><i class="icon-pencil"></i> edit</button>
                                                {% endif %}
                                            </form>
                                        {% else %}
                                            <text>{{motion.name}}</text>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="row motionbody">
                                    <text>{{motion.desc}}</text>
                                </div>
                                <div class="row motioninfo">
                                    <text style="color: #999; font-size: 12px; float:left;">posted by {{motion.user.user.first_name}} {{motion.user.user.last_name}} on {{motion.timestamp}}</text>
                                    <div style="float:right">
                                        <i class="icon-thumbs-up" style="cursor:hand; cursor:pointer;" id="like_{{ motion.id }}" value="{{motion.likes}}"></i>
                                            <text style="padding-right: 5px; color: #000066;"> <span id="span_like_{{ motion.id}}">{{motion.likes}}</span></text>

                                            <i class="icon-thumbs-down" style="cursor:hand; cursor:pointer;" id="dislike_{{ motion.id}}" value="{{motion.dislikes}}"></i>
                                            <text style="padding-right: 5px; color: #990033;"><span id="span_dislike_{{ motion.id}}">{{motion.dislikes}}</span></text>

                                            <button class="btn hoverblack alter" data-toggle="collapse" data-target="#motion_{{motion.id}}">show comments ({{motion.comments.all.count}})</a>

                                            {% if user.is_authenticated %}<button class="btn hoverblack alter" data-toggle="collapse" data-target="#addcomment_{{motion.id}}">add comment</a>{% endif %}
                                    </div>
                                </div>
                                <div class="row collapse indented out" style="margin-bottom:10px;"id="motion_{{motion.id}}">
                                    {% for comment in motion.comments.all %}
                                        <div class="row comment">
                                            {% if comment.modded %}
                                                <em>{{comment.text}}</em>
                                            {% else %}
                                                {% if user.username == host.user.username or comment.user.user == user %}
                                                    <form method="post" style="margin: 0px !important; padding: 0px !important;">{% csrf_token %}
                                                        {{comment.text}}
                                                        <button class="btn btn-mini btn-danger" type="submit" style="float:right;" name="remove_comment" value="{{comment.id}} {{motion.id}}">Remove</button>
                                                        {% if comment.user.user == user %}
                                                        <button class="btn btn-mini" name="editcomment" id="editcomment_{{comment.id}}" style="float:right; margin-right: 5px !important;"><i class="icon-pencil"></i> edit</button>
                                                        {% endif %}
                                                    </form>
                                                {% else %}
                                                    {{comment.text}}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="row comment">
                                            <text style="color: #999; font-size: 12px; float:left;">posted by {{comment.user.user.first_name}} {{comment.user.user.last_name}} on {{comment.timestamp}}</text>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if user.is_authenticated %}
                                <div class="row comment collapse indented out" id="addcomment_{{motion.id}}">
                                    <form class="mod" method="post">{% csrf_token %}
                                        <textarea rows="4" name="comment" style="width: 90%; margin-bottom: 5px !important;" placeholder="Write comment here"></textarea>
                                        <input type="hidden" name="motionid" value="{{motion.id}}">
                                        <button class="" style="float:right; margin-right: 8%; margin-bottom:5px; margin-top: 0px !important;" name="" value="{{motion.id}}" type="submit">Submit</button>
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% else %}
                        <div class="collapse indented out">
                            <div class="row motion">
                            <div class="row motiontitle">
                                {% if motion.modded %}
                                    <em>{{motion.name}}</em>
                                {% else %}
                                    {% if user.username == host.user.username or motion.user.user == user %}
                                        <form method="post" style="margin: 0px !important; padding: 0px !important;">{% csrf_token %}
                                        <text>{{motion.name}}</text>
                                            <button class="btn btn-mini btn-danger" type="submit" style="float:right;" name="remove_motion" value="{{motion.id}}">Remove</button>
                                            {% if motion.user.user == user %}
                                            <button class="btn btn-mini" name="editmotion" id="editmotion_{{motion.id}}" style="float:right; margin-right: 5px !important;"><i class="icon-pencil"></i> edit</button>
                                            {% endif %}
                                        </form>
                                    {% else %}
                                        <text>{{motion.name}}</text>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="row motionbody">
                                <text>{{motion.desc}}</text>
                            </div>
                            <div class="row motioninfo">
                                <text style="color: #999; font-size: 12px; float:left;">posted by {{motion.user.user.first_name}} {{motion.user.user.last_name}} on {{motion.timestamp}}</text>
                                <div style="float:right">
                                    <i class="icon-thumbs-up" style="cursor:hand; cursor:pointer;" id="like_{{ motion.id }}" value="{{motion.likes}}"></i>
                                        <text style="padding-right: 5px; color: #000066;"> <span id="span_like_{{ motion.id}}">{{motion.likes}}</span></text>

                                        <i class="icon-thumbs-down" style="cursor:hand; cursor:pointer;" id="dislike_{{ motion.id}}" value="{{motion.dislikes}}"></i>
                                        <text style="padding-right: 5px; color: #990033;"><span id="span_dislike_{{ motion.id}}">{{motion.dislikes}}</span></text>

                                        <button class="btn hoverblack alter" data-toggle="collapse" data-target="#motion_{{motion.id}}">show comments ({{motion.comments.all.count}})</a>

                                        {% if user.is_authenticated %}<button class="btn hoverblack alter" data-toggle="collapse" data-target="#addcomment_{{motion.id}}">add comment</a>{% endif %}
                                </div>
                            </div>
                            <div class="row collapse indented out" style="margin-bottom:10px;"id="motion_{{motion.id}}">
                                {% for comment in motion.comments.all %}
                                    <div class="row comment">
                                        {% if comment.modded %}
                                            <em>{{comment.text}}</em>
                                        {% else %}
                                            {% if user == host.user or comment.user.user == user %}
                                                <form method="post" style="margin: 0px !important; padding: 0px !important;">{% csrf_token %}
                                                    {{comment.text}}
                                                    <button class="btn btn-mini btn-danger" type="submit" style="float:right;" name="remove_comment" value="{{comment.id}} {{motion.id}}">Remove</button>
                                                    {% if comment.user.user == user %}
                                                    <button class="btn btn-mini" name="editcomment" id="editcomment_{{comment.id}}" style="float:right; margin-right: 5px !important;"><i class="icon-pencil"></i> edit</button>
                                                    {% endif %}
                                                </form>
                                            {% else %}
                                                <span>{{comment.text}}</span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="row comment">
                                        <text style="color: #999; font-size: 12px; float:left;">posted by {{comment.user.user.first_name}} {{comment.user.user.last_name}} on {{comment.timestamp}}</text>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if user.is_authenticated %}
                            <div class="row comment collapse indented out" id="addcomment_{{motion.id}}">
                                <form class="mod" method="post">{% csrf_token %}
                                    <textarea rows="4" name="comment" style="width: 90%; margin-bottom: 5px !important;" placeholder="Write comment here"></textarea>
                                    <input type="hidden" name="motionid" value="{{motion.id}}">

                                    <button class="" style="float:right; margin-right: 8%; margin-bottom:5px; margin-top: 0px !important;" name="" value="{{motion.id}}" type="submit">Submit</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="row motion collapse indented out" style="border-bottom: none !important;" id="addmotion_{{ai.id}}">
                            {% if user.is_authenticated %}<form class="mod" method="post">{% csrf_token %}
                                <input type="text" name="motionname" placeholder="Write the motion name here." style="width: 90%; margin-bottom: 5px !important;"></input>
                                <textarea rows="4" name="motiontext" style="width: 90%; margin-bottom: 5px !important;" placeholder="Write the motion description here."></textarea>
                                <input type="hidden" name="agendaid" value="{{ai.id}}">
                                <button class="" style="float:right; margin-right: 8%; margin-bottom:5px; margin-top: 0px !important;" name="" value="{{ai.id}}" type="submit">Submit</button>
                            </form>{% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="span3">
                {% if user.username == host.user.username %}
                <form method="post" style="margin: 5px !important; margin-top: 0px !important; margin-left: 8px !important;">{% csrf_token %}
                    <button class="btn btn-primary alter" type="submit" name="settings" style="padding: 4px !important; padding-left: 8px !important; padding-right: 8px !important;">Settings</button>
                    <button class="btn alter" type="submit" name="members" style="padding: 4px !important; padding-left: 8px !important; padding-right: 8px !important;">Manage Members</button>
<!--                     <button class="btn btn-primary" name="settings" style="padding-left: 17px !important; padding-right: 17px !important;">Meeting Settings</button>
                    <button class="btn" style="margin-top: 5px !important; margin-bottom: 5px !important;"name="members">Manage Members</button> -->
                </form>
                {% endif %}
                <div class="userinfo sidebox">
                    <i class="icon-user"></i>
                    <text class="lead" style="font-size: 15px !important;">Host (1):</text><br>
                    {% for member in m.hosts.all %}
                    <text>{{member.user.last_name}}, {{member.user.first_name}} <<em>{{member.user.email}}</em>></text><br>
                    {% endfor %}
                </div>
                <div class="userinfo sidebox">
                    <i class="icon-user"></i>
                    <text class="lead" style="font-size: 15px !important;">Moderators ({{m.moderators.all.count}}):</text><br>
                    {% for member in m.moderators.all %}
                    <text>{{member.user.last_name}}, {{member.user.first_name}} <<em>{{member.user.email}}</em>></text><br>
                    {% endfor %}
                </div>
                <div class="userinfo sidebox">
                    <i class="icon-user"></i>
                    <text class="lead" style="font-size: 15px !important;">Members ({{m.members.all.count}}):</text><br>
                    {% for member in m.members.all %}
                    <text>{{member.user.last_name}}, {{member.user.first_name}} <<em>{{member.user.email}}</em>></text><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<script>
$(function() {
    $(document).ready(function(){ 
        $('button[name=addmotion]').click(function(e) {
            target = $(this).attr('data-target').split('_')[1];

            if ($('#ai_'+target+'').height() == 0) {
                $('#showmotions_'+target+'').click();
            }
        });

        var data;
        $('.icon-thumbs-up').click(function(e) {
            id = $(this).attr('id').split('_')[1];
            data = $(this).attr('id') + '_up';
            var icon = $(this);
            // TODO: send data via ajax to server
            $.getJSON("/vote/", {'val': data}).done(function(data){
                if (data!="failure") {
                    var newlikes = parseInt(icon.attr('value'))+1;
                    $('#span_like_'+id+'').text(newlikes);
                }
            });
        });

        $('.icon-thumbs-down').click(function(e) {
            id = $(this).attr('id').split('_')[1];
            data = $(this).attr('id') + '_down';
            var icon = $(this);

            $.getJSON("/vote/", {"val": data}).done(function(data){
                if (data!="failure") {
                    var newlikes = parseInt(icon.attr('value'))+1;
                    $('#span_dislike_'+id+'').text(newlikes);
                }
            });
        });

        $(".motion form.mod").submit(function() {
            $(this).find('button').attr("name", "agendaid");
        });

        $(".comment form.mod").submit(function() {
            $(this).find('button').attr("name", "motionid");
        });

        $("[name='editai']").click(function() {
            parent = $(this).parent();
            currentVal = parent.find('span[id="ai_name"]').html();
            num = parent.find('span[id="ai_num"]').html();
            html = '<form method="post" style="margin: 0px; padding: 0px;"><text class="agenda" style="padding-right: 5px;">'+num+'.</text><input type="text" style="margin-bottom: 0px !important;" value="'+currentVal+'"><input type="hidden" name="ai_id" value="'+$(this).attr("id")+'"><button name="submit" class="btn btn-primary" style="margin-left: 5px !important; margin-right: 5px !important;">Submit</button><button name="cancel" class="btn btn-danger">Cancel</button></form>';
            // apparently using tabs/newline causes it to screw up?
            parent.replaceWith(html);
        });

        $('button[name="editmotion"]').click(function() {

        });

        $('button[name="editcomment"]').click(function() {

        });

    });
});

</script>

{% endblock %}

