{% extends "base.html" %}

{% block content %}

{% load static %}

{% if access %}

<div class="container">
    <div class="row">
        <div class="span8">
            <div class="meetingHead">
                <h2 style="margin-bottom:20px !important;">{{m.title}}</h2>
                {% if not joined %}
                <form method="post">{% csrf_token %}
                    <button type="submit" class="btn btn-primary" id="join_meeting" name="join_meeting">Join Meeting</button>
                </form>
                {% endif %}
                <div class="desc">
                    {{m.desc}}
                </div>
                <div class="info">
                    {% if m.uses_dt %}
                    <text style="font-weight: bold !important;">Start: </text>
                    <text style="margin-left: 5px;">{{m.starttime}} {{m.startdate}}</text><br>
                    <text style="font-weight: bold !important;">End: </text>
                    <text style="margin-left: 5px;">{{m.endtime}} {{m.enddate}}</text><br>
                    {% endif %}
                    <text style="font-weight: bold !important;">Timezone: </text>
		    <text style="margin-left: 5px;">{{m.timezone}}</text><br> 
		    {% if user == host.user %}
		    	<form method="post" style="margin-top: 20px !important;">{% csrf_token %}
                        <button class="btn btn-primary alter" type="submit" name="settings" style="padding: 4px !important; padding-left: 8px !important; padding-right: 8px !important;">Settings</button>
			<button class="btn alter" type="submit" name="members" style="padding: 4px !important; padding-left: 8px !important; padding-right: 8px !important;">Manage Members</button>
			</form>
			{% else %}	
			{% if m.friend_invites %}
				<br>
				<a class="cs_import btn checkjoined" style="margin-top: 2px !important;">Invite friends from Address Book</a>
				<img src="{% static "google.png" %}" class="addrbook">
				<img src="{% static "apple.png" %}" class="addrbook">
				<img src="{% static "yahoo.png" %}" class="addrbook">
				<img src="{% static "aol.png" %}" class="addrbook">
				<img src="{% static "msn.png" %}" class="addrbook">
				<div class="row collapse out" id="collapse1" style="margin-left: 0px !important;">
					<form method="post" id="add_addr_book" style="margin:5 px; padding: 0px;">{% csrf_token %}
						<textarea name="addr_contacts" style="width:450px;height:82px" id="contact_list"></textarea><br>
						<button type="submit" class="btn btn-mini btn-primary">Invite to meeting</button>
					</form>
				</div>
				{% endif %}
			{% endif %}
			{% if joined %}
			<form method="post" style="margin-top: 20px !important;">{% csrf_token %}
                <i class="icon-envelope"></i>
				{% if currently_receiving %} You are currently receiving email notifications from this meeting. <br> Stop receiving notifications? 
				<button class="btn btn-mini" name="stop_emails" id="stop_emails">Stop</button>
				{% else %} You are currently not receiving email notifications from this meeting. <br> Start receiving notifications?
				<button class="btn btn-mini" name="get_emails" id="get_emails">Start</button>
				{% endif %}
				{% if notifications_modified %}
					<br><text style="font-style: italic;">
					{% if receiving %}
					Thanks! You will receive all notifications from this meeting.
					{% else %}
					Thanks! You won't receive any notifications from this meeting.
					{% endif %}</text>
				{% endif %}
			</form>
            {% if user == host.user %}
                {% if pending %}
                <form method="post" style="margin-top: 20px !important;">{% csrf_token %}
                    <i class="icon-envelope"></i> You have unsent email invites. Send these now? 
                    <button class="btn btn-mini" name="send_pending">Send</button>
                    {% if just_sent %}
                    <br>
                    Thanks! The emails were sent.
                    {% endif %}
                </form>
                {% endif %}
            {% endif %}
			{% endif %}
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="organizerHead">
                <h3 style="text-align: center; margin-bottom:5px !important;">{{org.name}}</h3>
                <div style="text-align: center; vertical-align: middle;">
                    {% if org.image %}<img src='{{org.image.url}}' />{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <p class="lead">Agenda Items</p>
            {% for ai in agenda_items %}
            <div class="row ai_row">
                <div class="row ai_title">
                    <text class="agenda" style="padding-right: 5px;"><span id="ai_num">{{forloop.counter}}</span>. <span id="ai_name">{{ai.name}}</span></text>
                    {% if user == host.user %}
                    <button class="btn btn-mini" name="editai" style="margin-top: -5px !important;" id="{{ai.id}}"><i class="icon-pencil"></i> edit</button>
                    {% endif %}
                    <button class="btn hoverblack alter" data-toggle="collapse" style="margin-top: -5px !important;" id="showmotions_{{ai.id}}" data-target=".ai_{{ai.id}}">show all motions ({{ai.motions.all.count}})</button>
                    <button class="btn hoverblack alter checkjoined" style="margin-top: -5px !important;" data-toggle="collapse" name="addmotion" data-target="#addmotion_{{ai.id}}">add a motion</a>
                </div>
                <div class="row" style="margin-bottom: 20px !important">
                    {% for motion in ai.motions.all %}
                    <div class="indented">
                        {% if forloop.counter0 < 5 %}
                        <div class="row motion">
                            <div class="row motiontitle">
                                {% if motion.modded %}
                                    <em>{{motion.name}}</em>
                                {% else %}
                                    {% if canmod or motion.user.user == user %}
                                        <form method="post" style="margin: 0px !important; padding: 0px !important;">{% csrf_token %}
                                        <text><span id="mo_name">{{motion.name}}</span></text>
                                            <button class="btn btn-mini btn-danger" type="submit" style="float:right;" name="remove_motion" value="{{motion.id}}">Remove</button>
                                            {% if motion.user.user == user %}
                                            <button class="btn btn-mini" name="editmotion" id="{{motion.id}}" style="float:right; margin-right: 5px !important;"><i class="icon-pencil"></i> edit</button>
                                            {% endif %}
                                        </form>
                                    {% else %}
                                        <text>{{motion.name}}</text>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="row motionbody">
                                <text><span id="mo_desc">{{motion.desc}}</span></text>
                            </div>
                            <div class="row motioninfo">
                                <text style="color: #999; font-size: 12px; float:left;">posted by {{motion.user.user.first_name}} {{motion.user.user.last_name}} on {{motion.timestamp}}</text>
                                <div style="float:right">
                                    <i class="icon-thumbs-up checkjoined" style="cursor:hand; cursor:pointer;" id="like_{{ motion.id }}" value="{{motion.likes}}"></i>
                                    <text style="padding-right: 5px; color: #000066;"> <span id="span_like_{{ motion.id}}">{{motion.likes}}</span></text>

                                    <i class="icon-thumbs-down checkjoined" style="cursor:hand; cursor:pointer;" id="dislike_{{ motion.id}}" value="{{motion.dislikes}}"></i>
                                    <text style="padding-right: 5px; color: #990033;"><span id="span_dislike_{{ motion.id}}">{{motion.dislikes}}</span></text>

                                    <button class="btn hoverblack alter" data-toggle="collapse" data-target="#motion_{{motion.id}}">show comments ({{motion.comments.all.count}})</button>

                                    <button class="btn hoverblack alter checkjoined" data-toggle="collapse" name="addcomment" data-target="#addcomment_{{motion.id}}">add comment</button>
                                </div>
                            </div>
                            <div class="row collapse indented out" style="margin-bottom:10px;"id="motion_{{motion.id}}">
                                {% for comment in motion.comments.all %}
                                    <div class="row comment">
                                        <em>{{comment.text}}</em>
                                    </div>
                                    <div class="row comment">
                                        <text style="color: #999; font-size: 12px; float:left;">posted by {{comment.user.user.first_name}} {{comment.user.user.last_name}} on {{comment.timestamp}}</text>
                                            {% if user == host.user or comment.user.user == user %}
                                            {% if not comment.modded %}
                                                <form method="post" style="margin: 0px !important; padding: 0px !important;">{% csrf_token %}
                                                    {% if comment.user.user == user %}
                                                    <button class="btn btn-mini" name="editcomment" id="{{comment.id}}" style="float:left; margin-right: 5px !important;"><i class="icon-pencil"></i> edit</button>
                                                    {% endif %}
                                                    <span id="mo_comment">{{comment.text}}</span>
                                                    <button class="btn btn-mini btn-danger" type="submit" style="float:left;" name="remove_comment" value="{{comment.id}} {{motion.id}}">Remove</button>

                                                </form>
                                            {% endif %}
                                            {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            {% if joined %}
                            <div class="row comment collapse indented out" id="addcomment_{{motion.id}}">
                                <form class="mod" method="post">{% csrf_token %}
                                    <textarea rows="4" name="comment" style="width: 90%; margin-bottom: 5px !important;" placeholder="Write comment here"></textarea>
                                    <input type="hidden" name="motionid" value="{{motion.id}}">
                                    <button class="" style="float:right; margin-right: 8%; margin-bottom:5px; margin-top: 0px !important;" name="" value="{{motion.id}}" type="submit">Submit</button>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                            {% else %}
                            <div class="collapse out ai_{{ai.id}}" id="ai_{{ai.id}}">
                            <div class="row motion">
                                <div class="row motiontitle">
                                    {% if motion.modded %}
                                        <em>{{motion.name}}</em>
                                    {% else %}
                                        {% if user.username == host.user.username or motion.user.user == user %}
                                            <form method="post" style="margin: 0px !important; padding: 0px !important;">{% csrf_token %}
                                            <text>{{motion.name}}</text>
                                                <button class="btn btn-mini btn-danger" type="submit" style="float:right;" name="remove_motion" value="{{motion.id}}">Remove</button>
                                                {% if motion.user.user == user %}
                                                <button class="btn btn-mini" name="editmotion" id="{{motion.id}}" style="float:right; margin-right: 5px !important;"><i class="icon-pencil"></i> edit</button>
                                                {% endif %}
                                            </form>
                                        {% else %}
                                            <text>{{motion.name}}</text>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="row motionbody">
                                    <text><span id="mo_desc">{{motion.desc}}</span></text>
                                </div>
                                <div class="row motioninfo">
                                    <text style="color: #999; font-size: 12px; float:left;">posted by {{motion.user.user.first_name}} {{motion.user.user.last_name}} on {{motion.timestamp}}</text>
                                    <div style="float:right">
                                        <i class="icon-thumbs-up checkjoined" style="cursor:hand; cursor:pointer;" id="like_{{ motion.id }}" value="{{motion.likes}}"></i>
                                            <text style="padding-right: 5px; color: #000066;"> <span id="span_like_{{ motion.id}}">{{motion.likes}}</span></text>

                                            <i class="icon-thumbs-down checkjoined" style="cursor:hand; cursor:pointer;" id="dislike_{{ motion.id}}" value="{{motion.dislikes}}"></i>
                                            <text style="padding-right: 5px; color: #990033;"><span id="span_dislike_{{ motion.id}}">{{motion.dislikes}}</span></text>

                                            <button class="btn hoverblack alter" data-toggle="collapse" data-target="#motion_{{motion.id}}">show comments ({{motion.comments.all.count}})</a>

                                            <button class="btn hoverblack alter checkjoined" data-toggle="collapse" name="addcomment" data-target="#addcomment_{{motion.id}}">add comment</a>
                                    </div>
                                </div>
                                <div class="row collapse indented out" style="margin-bottom:10px;"id="motion_{{motion.id}}">
                                    {% for comment in motion.comments.all %}
                                        <div class="row comment">
                                             <em>{{comment.text}}</em>
                                        </div>
                                        <div class="row comment">
                                            <text style="color: #999; font-size: 12px; float:left;">posted by {{comment.user.user.first_name}} {{comment.user.user.last_name}} on {{comment.timestamp}}</text>
                                            {% if user == host.user or user==comment.user.user %}
                                                {% if not comment.modded %}
                                                    <form method="post" style="margin: 0px !important; padding: 0px !important;">{% csrf_token %}
                                                        {% if comment.user.user == user %}
                                                        <button class="btn btn-mini" name="editcomment" id="{{comment.id}}" style="float:left; margin-right: 5px !important;"><i class="icon-pencil"></i> edit</button>
                                                        {% endif %}
                                                        <span id="mo_comment">{{comment.text}}</span>
                                                        <button class="btn btn-mini btn-danger" type="submit" style="float:left;" name="remove_comment" value="{{comment.id}} {{motion.id}}">Remove</button>
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if joined %}
                                <div class="row comment collapse indented out" id="addcomment_{{motion.id}}">
                                    <form class="mod" method="post">{% csrf_token %}
                                        <textarea rows="4" name="comment" style="width: 90%; margin-bottom: 5px !important;" placeholder="Write comment here"></textarea>
                                        <input type="hidden" name="motionid" value="{{motion.id}}">

                                        <button class="" style="float:right; margin-right: 8%; margin-bottom:5px; margin-top: 0px !important;" name="" value="{{motion.id}}" type="submit">Submit</button>
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}

                    </div>
                    {% endfor %}
                    <div class="row motion collapse indented out" style="border-bottom: none !important;" id="addmotion_{{ai.id}}">
                        {% if joined %}<form class="mod" method="post">{% csrf_token %}
                            <input type="text" name="motionname" placeholder="Write the motion name here." style="width: 90%; margin-bottom: 5px !important;"></input>
                            <textarea rows="4" name="motiontext" style="width: 90%; margin-bottom: 5px !important;" placeholder="Write the motion description here."></textarea>
                            <input type="hidden" name="agendaid" value="{{ai.id}}">
                            <button class="" style="float:right; margin-right: 8%; margin-bottom:5px; margin-top: 0px !important;" name="" value="{{ai.id}}" type="submit">Submit</button>
                        </form>{% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="span4">
            {% if org %}
            <div class="userinfo" style="border: none !important; text-align: center;">
                <h5>About This Organization:</h5>
                <p>{{org.desc}}</p>
                <h5>Contact:</h5>
                <p>{{org.contact}}</p>
            </div>
            {% endif %}
            <div class="userinfo sidebox" style="height: 75px !important;">
                <i class="icon-user"></i>
                <text class="lead" style="font-size: 15px !important;">Host (1):</text><br>
                {% for member in m.hosts.all %}
                <text>{{member.user.last_name}}, {{member.user.first_name}} <<em>{{member.user.email}}</em>></text><br>
                {% endfor %}
            </div>
            <div class="userinfo sidebox" style="height: 350px !important;">
                <i class="icon-user"></i>
                <text class="lead" style="font-size: 15px !important;">Members ({{m.members.all.count}}):</text><br>
                {% for member in m.members.all %}
                <text>
                    <a href="/profile/{{member.page_id}}">
                    {{member.user.last_name}}, {{member.user.first_name}}</a> <<em>{{member.user.email}}</em>>
                </text><br>
                {% endfor %}
            </div>

            <div class="userinfo sidebox" style="height: 75px !important;">
                <i class="icon-user"></i>
                <text class="lead" style="font-size: 15px !important;">Moderators ({{m.moderators.all.count}}):</text><br>
                {% if m.moderators.all %}
                    {% for member in m.moderators.all %}
                    <text>{{member.user.last_name}}, {{member.user.first_name}} <<em>{{member.user.email}}</em>></text><br>
                    {% endfor %}
                {% else %}
                <text>Moderated by host.</text>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Meeting Closed</h3>
  </div>
  <div class="modal-body">
    <p>This meeting is not currently open. Please consult the start/end times.</p>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
  </div>
</div>

<div class="container">
    <div id="signinModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Please Log In to Perform This Action.</h3>
      </div>
      <form class="form-horizontal centered" style="display:inline-block;" method="post">
          <div class="modal-body"><br>
            <p>This meeting is public. If you don't have an account, you can sign up 
             <a href="/signup/">here</a>.<br><br>If you do have an account, please log in below:</p><br>
                {% csrf_token %}
                {% if login_errors %}
                <div class="control-group">
                    <div class="controls">
                        <h5 style="color: red;">Invalid login credentials</h5>
                    </div>
                </div>
                {% endif %}
                {% if not_verified %}
                <div class="control-group">
                    <div class="controls">
                        <h5 style="color: red;">This account has not yet been verified.</h5>
                    </div>
                </div>
                {% endif %} 
                <input type="hidden" name="submit_request" value="submit_request">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>
                    <div class="controls">
                        <input type="text" name="username" class="login" placeholder="email" autocomplete="off">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    <div class="controls">
                        <input type="password" name="password" class="login" placeholder="password" autocomplete="off">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls"><!-- 
                        <label class="checkbox">
                            <input type="checkbox"> Remember me
                        </label> -->
                    </div>
                </div>
          </div>
          <div class="modal-footer"><!-- 
            <button type="button" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-danger">Cancel</button> -->
                <button type="submit" name="login" class="btn btn-primary">Login</button>
                <button type="submit" data-dismiss="modal" class="btn btn-danger">Cancel</button>
          </div>
        </form>
    </div>
</div>

<div id="joinModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Please Join to Perform This Action.</h3>
  </div>
  <div class="modal-body"><br>
    <p>In order to participate, you must first join the meeting. Please click the "Join" button, underneath the meeting title.</p><br>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
  </div>
</div>


<script>
	var csPageOptions = {
	  domain_key:"RZ7M43JLPAH6JHE45ATN", 
	  textarea_id:"contact_list",
	  ignoreMultipleEmails:true,
	  afterSubmitContacts:function(contacts, source, owner) {
	  		// var oForm = document.getElementById('add_addr_book');
	  		// oForm.submit();
	  		$('#collapse1').collapse('show');
	  }
	};
</script>

<script type="text/javascript" src="https://api.cloudsponge.com/address_books.js"></script>


<script>
$(function() {
    $(document).ready(function(){ 

        {% if closed_error %}
        $('#myModal').modal("show");
        {% endif %}

        {% if not user.is_authenticated %}
        $('#join_meeting').click(function(e) {
            e.preventDefault();
            $('#signinModal').modal('show');
        });
        {% endif %}

        {% if not joined %}
        $('.checkjoined').click(function(e) {
            e.preventDefault();
            {% if user.is_authenticated %}
                $('#joinModal').modal('show');
            {% else %}
                $('#signinModal').modal('show');
            {% endif %}
            return false;
        });

        {% endif %}

        {% if login_errors %}
        $('#signinModal').modal("show");
        {% endif %}

        {% if not_verified %}
        $('#signinModal').modal("show");
        {% endif %}

        $('[name=usertip]').popover({'delay': {show: 0, hide: 1000}});

        $('button[name=addmotion]').click(function(e) {
            target = $(this).attr('data-target').split('_')[1];

            if ($('#ai_'+target+'').height() == 0) {
                $('#showmotions_'+target+'').click();
            }
        });

        var data;
        $('.icon-thumbs-up').click(function(e) {
            id = $(this).attr('id').split('_')[1];
            data = $(this).attr('id') + '_up';
            var icon = $(this);
            $.getJSON("/vote/", {'val': data}).done(function(data){
                if (data!="failure") {
                    var newlikes = parseInt(icon.attr('value'))+1;
                    $('#span_like_'+id+'').text(newlikes);
                }
            });
        });

        $('.icon-thumbs-down').click(function(e) {
            id = $(this).attr('id').split('_')[1];
            data = $(this).attr('id') + '_down';
            var icon = $(this);

            $.getJSON("/vote/", {"val": data}).done(function(data){
                if (data!="failure") {
                    var newlikes = parseInt(icon.attr('value'))+1;
                    $('#span_dislike_'+id+'').text(newlikes);
                }
            });
        });

        $(".motion form.mod").submit(function() {
            $(this).find('button').attr("name", "agendaid");
        });

        $(".comment form.mod").submit(function() {
            $(this).find('button').attr("name", "motionid");
        });

        oldAIHTML = '';

        $("[name='editai']").click(function() {
            parent = $(this).parent();
            currentVal = parent.find('span[id="ai_name"]').html();
            num = parent.find('span[id="ai_num"]').html();
            html = "<form method='post' style='margin: 0px; padding: 0px;'>{% csrf_token %}<text class='agenda' style='padding-right: 5px;'>"+num+".</text><input type='text' name='name' style='margin-bottom: 0px !important;' value='"+currentVal+"'><input type='hidden' name='ai_id' value='"+$(this).attr('id')+"'><button type='submit' name='change_ai' class='btn btn-mini btn-primary' style='margin-left: 5px !important; margin-right: 5px !important;'>Submit</button><button id='ai_cancel' name='cancel' class='btn btn-mini btn-danger'>Cancel</button></form>";
            // apparently using tabs/newline causes it to screw up?
            oldAIHTML = parent.html();
            parent.replaceWith(html);
        });
        $('#ai_cancel').click(function() {
            $(this).parent().replaceWith(oldAIHTML);
        });



        oldMotionTitleHTML = '';
        oldMotionDescHTML = '';
        $('[name="editmotion"]').click(function(e) {
            e.preventDefault();
            parent = $(this).parent().parent();
            title = parent.find('span[id="mo_name"]').html();
            text = parent.parent().find('span[id="mo_desc"]').html();
            motiontitleHTML = "<input type='text' id='edit_m_title' style='with: 90% !important; margin-bottom: 0px !important;' value='"+title+"'>";
            motionbodyHTML = "<form method='post' id='edit_m' style='margin: 0px; padding: 0px;'>{% csrf_token %}<textarea rows='4' name='motiontext' style='width: 90%; margin-top: 5px !important; margin-bottom: 5px !important;'>"+text+"</textarea><input type='hidden' name='m_id' value='"+$(this).attr('id')+"'><input type='hidden' name='m_title' id='title_in_desc'><button type='submit' name='change_motion' class='btn btn-mini btn-primary' style='margin-left: 5px !important; margin-right: 5px !important;'>Change</button><button name='cancel' id='m_cancel' class='btn btn-mini btn-danger'>Cancel</button></form>";

            mobdiv = parent.parent().find('.motionbody');

            oldMotionTitleHTML = parent.html();
            oldMotionDescHTML = mobdiv.html();

            parent.replaceWith(motiontitleHTML); 
            mobdiv.replaceWith(motionbodyHTML);

            $('#edit_m').submit(function() {
                $('#title_in_desc').val($('#edit_m_title').val());
                return true;
            });

            // use javascript to submit the two forms simultaneously! no: just copy the info from the title into a hidden input field in the second form
            // waaiiiiiit a second...it CAN find form elements (it found m_cancel)...what?
        });

        $('#m_cancel').click(function() {
            $(this).parent().parent().replaceWith(oldMotionTitleHTML);
            $(this).parent().parent().parent().find('.motionbody').replaceWith(oldMotionDescHTML);
        });

        oldCommentHTML = '';
        $('[name="editcomment"]').click(function(e) {
            e.preventDefault();
            parent = $(this).parent();
            text = parent.find('span[id="mo_comment"]').html();
            newHTML = "<form method='post' id='edit_c' style='margin: 0px; padding: 0px;'>{% csrf_token %}<textarea rows='4' name='commenttext' style='width: 90%; margin-top: 5px !important; margin-bottom: 5px !important;'>"+text+"</textarea><input type='hidden' name='c_id' value='"+$(this).attr('id')+"'><button type='submit' name='change_comment' class='btn btn-mini btn-primary' style='margin-left: 5px !important; margin-right: 5px !important;'>Change</button><button name='cancel' id='c_cancel' class='btn btn-mini btn-danger'>Cancel</button></form>"
            oldCommentHTML = parent.parent().html();
            parent.parent().replaceWith(newHTML);
        });
        $('#c_cancel').click(function() {
            $(this).parent().parent().replaceWith(oldCommentHTML);
        });

    });
});

</script>

{% else %}

<div class="container">
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">This Meeting is Private.</h3>
      </div>
      <form class="form-horizontal centered" style="display:inline-block;" method="post">
          <div class="modal-body"><br>
            <p>If you were invited but don't have an account, you can sign up 
             <a href="/signup/">here</a>.<br><br>If you do have an account, please log in below:</p><br>
                {% csrf_token %}
                {% if login_errors %}
                <div class="control-group">
                    <div class="controls">
                        <h5 style="color: red;">Invalid login credentials</h5>
                    </div>
                </div>
                {% endif %}
                <input type="hidden" name="submit_request" value="submit_request">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>
                    <div class="controls">
                        <input type="text" name="username" class="login" placeholder="email" autocomplete="off">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    <div class="controls">
                        <input type="password" name="password" class="login" placeholder="password" autocomplete="off">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls"><!-- 
                        <label class="checkbox">
                            <input type="checkbox"> Remember me
                        </label> -->
                    </div>
                </div>
          </div>
          <div class="modal-footer"><!-- 
            <button type="button" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-danger">Cancel</button> -->
                <button type="submit" name="login" class="btn btn-primary">Login</button>
                <button type="submit" data-dismiss="modal" class="btn btn-danger">Cancel</button>
          </div>
        </form>
    </div>
</div>

<div class="container">
    <div id="vModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="vModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="vModalLabel">This account has not been verified.</h3>
      </div>
      <form class="form-horizontal centered" style="display:inline-block;" method="post">
          <div class="modal-body"><br>
            <p>This account has not yet been verified--a verification email was sent to you.</p><br>
          <div class="modal-footer">
                <a href='/' type="submit" name="login" class="btn btn-primary">Go to home</a>
          </div>
        </form>
    </div>
</div>

<script>

$(document).ready(function() {
    {% if not_verified %}
    $('#vModal').modal("show");
    {% else %}
    $('#myModal').modal("show");
    {% endif %}
});

</script>

{% endif %}

{% endblock %}

