{% extends "base.html" %}

{% block content %}

{% load static %}

<link href="{% static "formbase.css" %}" rel="stylesheet" type="text/css">

<div class="center_block container">
	<div class="row">
        <div class="container">
            {% if org.image %}
            <div class="span4">
                <div style="text-align: center; margin-top: 10%; margin-bottom: 10%;">
                    <img src="{{org.image.url}}" />
                </div>
            </div>
            <div class="span5">
            {% else %}
            <div class="span5" style="margin-left: 5%">
            {% endif %}
                <br>
                <h2>{{org.name}}</h2>
                <div style="margin-top: 20px; margin-bottom: 10px;">
                    <text style="font-weight: bold;">About:</text>
                    <span style="margin-left: 10px;">
                        {{org.desc}}
                    </span>
                </div>
                <div style="margin-bottom: 10px;">
                    <text style="font-weight: bold;">Contact:</text>
                    <span style="margin-left: 10px;">
                        {{org.contact}}
                    </span>
                </div>
                <div style="margin-bottom: 10px;">
                    <text style="font-weight: bold;">Website:</text>
                    <span style="margin-left: 10px;">
                        {{org.website}}
                    </span>
                </div>
                {% if viewer == manager %}
                     <a data-toggle="modal" style="margin-top: 10px; margin-bottom: 20px;" href="#editModal" class="btn btn-primary">Edit Information</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if viewer == manager %}

<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" style="text-align: center;">Edit Information</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" style="margin-top: 20px;" id="editform" enctype="multipart/form-data" method="post">{% csrf_token %}
            <div class="control-group">
                <label class="control-label" for=""><text style="font-weight: bold;">Organization Name</text></label>
                <div class="controls">
                    <input type="text" name="name" value="{{org.name}}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for=""><text style="font-weight: bold;">Description</text></label>
                <div class="controls">
                    <textarea rows='4' style="width: 250px;" name='desc'>{{org.desc}}</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for=""><text style="font-weight: bold;">Contact</text></label>
                <div class="controls">
                    <input type="text" name="contact" value="{{org.contact}}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for=""><text style="font-weight: bold;">Website</text></label>
                <div class="controls">
                    <input type="text" name="website" value="{{org.website}}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for=""><text style="font-weight: bold;">Image</text></label>
                <div class="controls">
                    {{form.image}} {% if form.image.errors %}<br><text style="color: red;">No image selected.</text>{% endif %}
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="text-align: center;">
        <button type="submit" id="subedits" class="btn btn-primary">Submit Changes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
</div>

<script>

$(document).ready(function() {
    $('#subedits').click(function() {
        $('#editform').submit();
    });
});

</script>

{% endif %}

{% endblock %}