{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<table class="table" style="height: 100% !important;"> <!-- Needed to set this to 100% for bottom-positioning to work! -->
            <tbody>
                <tr>
                    <td>
                        <div style="position:relative; height:100%"><!--  And then do this -->
                            {% if org.prof_pic != 'False' %}
                            <img src="{{org.image.url}}" /><br><br><br><br><br><br>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div style="position:relative; height:100%">
                            <h3>{{org.name}}</h3><br><br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align: middle;">About:</th>
                    <td>
                        {{org.desc}}
                    </td>
                </tr>
                <tr>
                    <th>Contact:</th>
                    <td>{{org.contact}}</td>
                </tr>
                <tr>
                    <th style="vertical-align: middle;">Website:</th>
                    <td>
                        {{org.website}}
                    </td>
                </tr>
            </tbody>
        </table>
	</div>
</div>

{% endblock %}