{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<div class="container">
	<div class="row">
		<div class="span9">
			<div>
				Profile information--can edit the form here
			</div>
		</div>
		<div class="span3">
            <div class="userinfo sidebox">
                <text class="lead" style="font-size: 15px !important;">Meetings ({{account.meetings_in.all.count}}):</text><br><ul>
                {% for meeting in account.meetings_in.all %}
                <li>{{meeting.title}}</li>
                {% endfor %}</ul>
            </div>
            <div class="userinfo sidebox">
                <i class="icon-user"></i>
                <text class="lead" style="font-size: 15px !important;">Contacts ({{account.contacts.all.count}}):</text><br><ul>
                {% for contact in account.contacts.all %}
                <li>{{contact.user.last_name}}, {{contact.user.first_name}} <<em>{{contact.user.email}}</em>></li>
                {% endfor %}</ul>
            </div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
});
</script>

{% else %}
<script>
$(document).ready(function() {
	// TODO: change this for site
	window.location="//127.0.0.1:8000/";
});
</script>
{% endif %}

{% endblock %}