{% extends "base.html" %}

{% block content %}

{% load static %}

<link href="{% static "formbase.css" %}" rel="stylesheet" type="text/css">

<div class="center_block container" style="min-width: 750px;">
    <div class="row">
        <div class="container">
            {% if account.prof_pic != 'False' %}
            <div class="span4">
                <div style="text-align: center; margin-top: 10%; margin-bottom: 10%;">
                    <img src="{{account.prof_pic.url}}" />
                </div>
            </div>
            <div class="span5">
            {% else %}
            <div class="span5" style="margin-left: 5%">
            {% endif %}
                <br>
                <h2>{{account.user.first_name}} {{account.user.last_name}}</h2>
                <div style="margin-top: 20px; margin-bottom: 10px;">
                    <text style="font-weight: bold;">Bio:</text>
                    <span style="margin-left: 10px;">
                        {{account.bio}}
                    </span>
                </div>
                <div style="margin-bottom: 10px;">
                    <text style="font-weight: bold;">Contact:</text>
                    <span style="margin-left: 10px;">
                         {{account.user.email}}
                    </span>
                </div>
                <div style="margin-bottom: 10px;">
                    <text style="font-weight: bold;">Join Date:</text>
                    <span style="margin-left: 10px;">
                        {{account.join_date}}
                    </span>
                </div>
                {% if viewer == account %}
                <a data-toggle="modal" style="margin-top: 10px; margin-bottom: 20px;" href="#editModal" class="btn btn-primary">Edit Information</a>
                {% else %}
                    {% if viewer %}
                        <form method="post">{% csrf_token %}
                            <button type="submit" name="addc" style="margin-top: 10px; margin-bottom: 20px;" class="btn btn-primary">Add as Contact</button>
                            {% if success %}
                            <text style="line-height: 45px; color:#08c;">Contact added successfully.</text>
                            {% endif %}
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if viewer == account %}

<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" style="text-align: center;">Edit Information</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" style="margin-top: 20px;" id="editform" enctype="multipart/form-data" method="post">{% csrf_token %}
            <div class="control-group">
                <label class="control-label" for=""><text style="font-weight: bold;">Bio</text></label>
                <div class="controls">
                    <textarea rows='4' style="width: 250px;" name='bio'>{{account.bio}}</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for=""><text style="font-weight: bold;">Profile Picture</text></label>
                <div class="controls">
                    {{form.image}} {% if form.image.errors %}<br><text style="color: red;">No image selected.</text>{% endif %}
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="text-align: center;">
        <button type="submit" id="subedits" class="btn btn-primary">Submit Changes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>
</div>

<script>

$(document).ready(function() {

    $('#subedits').click(function() {
        $('#editform').submit();
    });
});

</script>

{% endif %}

{% endblock %}