{% extends "base.html" %}

{% block content %}

{% load static %}

<link href="{% static "formbase.css" %}" rel="stylesheet" type="text/css">

<div class="center_block container" style="min-width: 720px;">
	<div style="text-align: center;">
		<h2>Set Interactive Chat</h2>
		<img src="{% static "flow2.jpg" %}">
	</div>
	<div class="form_block">
		<form class="form-horizontal" style="margin-top: 25px;" id="mform" method="post">
			{% csrf_token %}
			<input type="hidden" name="submit_request" value="submit_request">
			<div class="control-group">
				<label class="control-label">Invitee</label>
				<div class="controls">
					{{ form.email }}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Who is this person or group?</label>
				<div class="controls">
					{{ form.desc }}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Has he/she already agreed to come?</label>
				<div class="controls nobullet">
					{{ form.agreed}}
				</div>
			</div>
		</form>
	</div>
	<div class="blurb_block" style="font-size: 14px; margin-top: 25px; vertical-align: middle;">
		<h4 style="text-align: center;">Info</h4><br>
		<text>For the interactive chat, you (the host) invite, by email, a person to be interviewed. This person can be yourself.</text><br><br>
		<text>The chat will open and close at the times you just specified in the "Create Meeting" section.</text><br><br>
	</div>
	<div class="footer_block">
		<button type="submit" id="sub" class="btn btn-primary">Set</button>
	</div>
</div>

<script>

$(document).ready(function() {
	$('#sub').click(function() {
		$('#mform').submit();
	});
    {% if form.errors %}
        html = '<h4 style="text-align: center;">Errors</h4><br><text style="color: red;">';
        {% if form.email.errors %}
        html += 'Interviews are required to have an invitee.<br><br>';
        {% endif %}
        {% if form.desc.errors %}
        html += 'Please supply a description of the invitee.<br><br>'
        {% endif %}
        {% if form.agreed.errors %}
        html += 'Please specify whether the invitee has or has not agreed to come.<br><br>';
        {% endif %}
        $('.blurb_block').html(html);
    {% endif %}
});
</script>

{% endblock %}