{% extends "base.html" %}

{% block content %}

{% load static %}

<link href="{% static "formbase.css" %}" rel="stylesheet" type="text/css">

<div class="center_block container">
	<div style="text-align: center;">
		<h2>Set Interview</h2>
		<img src="{% static "flow2.jpg" %}">
	</div>
	<div class="form_block">
		<form class="form-horizontal" id="mform" style="margin-top: 25px;" method="post">
			{% csrf_token %}
			<input type="hidden" name="submit_request" value="submit_request">
			<div class="control-group">
				<label class="control-label">Invitee</label>
				<div class="controls">
					{{ form.email }}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Has he/she already agreed to come?</label>
				<div class="controls nobullet">
					{{ form.agreed}}
				</div>
			</div>
			{% if uses_dt %}
			<div class="control-group">
				<label class="control-label" for="inputDate">Question Period: Start Date</label>
				<div class="controls">
					<input type="text" name="startdate" id="id_startdate">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputTime">Start Time</label>
				<div class="controls">
					{{ form.starttime }}
				</div>
			</div>
			{% if time_mismatch %}
			<div class="control-group">
				<div class="controls">
					<h5 style="color: red;">Date/time error: the question period ends before it starts!</h5>
				</div>
			</div>
			{% endif %}
			<div class="control-group">
				<label class="control-label" for="inputDate">End Date</label>
				<div class="controls">
					<input type="text" name="enddate" id="id_enddate">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputTime">End Time</label>
				<div class="controls">
					{{ form.endtime }}
				</div>
			</div>
			{% endif %}
		</form>
	</div>
	<div class="blurb_block" style="font-size: 14px; margin-top: 25px; vertical-align: middle;">
		<h4 style="text-align: center;">Info</h4><br>
		<text>For the interview, you (the host) invite, by email, a person to be interviewed. This person can be yourself.</text><br><br>
		<text>If the invitee has already agreed to come, the interview will proceed as normal. While the question period is active, members will be able to ask you questions.</text><br><br>
		<text>If the invitee has not yet agreed to come, the interview will be in an inactive state until he visits the interview page (sent to him in an email), logs in, and either agrees or disagrees to be interview.</text>
		<text>When the meeting starts, you will be able to view these questions and send them out one-by-one for everyone to see. The invitee will then be able to answer the questions.</text><br><br>
	</div>
	<div class="footer_block">
		<button type="submit" id="sub" class="btn btn-primary">Set</button>
	</div>
</div>

<script>

$(document).ready(function() {

	$('#sub').click(function() {
		$('#mform').submit();
	});

	$(function() {
	    $( "#id_startdate" ).datepicker();
	    $( "#id_enddate").datepicker();
	});


    {% if form.errors or dterrors %}
        html = '<h4 style="text-align: center;">Errors</h4><br><text style="color: red;">';
        {% if form.email.errors %}
        html += 'Interviews are required to have an invitee.<br><br>';
        {% endif %}
        {% if form.agreed.errors %}
        html += 'Please specify whether the invitee has or has not agreed to come.<br><br>';
        {% endif %}
        {% if form.startdate.errors %}
        html += 'Start date required.<br><br>'
        {% endif %}
        {% if form.starttime.errors %}
        html += 'Start time required.<br><br>'
        {% endif %}
        {% if form.enddate.errors %}
        html += 'End date required.<br><br>'
        {% endif %}
        {% if form.endtime.errors %}
        html += 'End time required.<br><br>'
        {% endif %}
        $('.blurb_block').html(html);
    {% endif %}
});
</script>

{% endblock %}