{% extends "base.html" %}

{% block content %}

{% load static %}

<link href="{% static "formbase.css" %}" rel="stylesheet" type="text/css">

<div class="center_block container" style="min-width: 720px;">
	<div style="text-align: center;">
		<h2 style="text-align: center;">Add Agenda Items</h2>
		<img src="{% static "flow2.jpg" %}">
	</div>
	<div class="form_block">
		<form class="form-horizontal" id="mform" style="margin-top: 25px;" method="post">
			{% csrf_token %}
			<input type="hidden" name="submit_request" value="submit_request">
			<div class="control-group">
				<label class="control-label">Agenda Items</label>
				<div class="controls">
					<div id="agenda_controls">
						<div id="div1">
							<input type="text" name="agenda_item_1"><p></p>
						</div>
						<div id="div2">
							<input type="text" name="agenda_item_2"><p></p>
						</div>
						<div id="div3">
							<input type="text" name="agenda_item_3"><p></p>
						</div>
					</div>
					<a class="btn" id="additem" href="#">Add item</a>
					<a class="btn" id="removeitem" style="margin-left: 5px;" href="#">Remove item</a>
				</div>
			</div>
		</form>
	</div>
	<div class="blurb_block" style="font-size: 14px; margin-top: 25px; vertical-align: middle;">
		<h4 style="text-align: center;">Info</h4><br>
		<text>Agenda Items are the main points of discussion in a meeting--only the host can set them.</text><br><br>
		<text>For now, there is a limit of 10 Agenda Items; however, you can add or remove created Agenda Items at any point after creating the meeting.</text><br><br>
	</div>
	<div class="footer_block">
		<button type="submit" id="sub" class="btn btn-primary">Set</button>
	</div>
</div>

<script>


$(document).ready(function() {

	$('#sub').click(function() {
		$('#mform').submit();
	});

	var counter = 4;

	$('#additem').click(function() {
		if (counter == 2) {
			$('#removeitem').show();
		}
		if (counter == 10) {
			$('#additem').hide();
		}
		$("#agenda_controls").append('<div id="div'+counter+'"><input type="text" name="agenda_item_' + counter +'"><p></p></div>');
		counter++;
	});

	$('#removeitem').click(function() {
		counter--;
		if (counter == 10) {
			$('#additem').show();
		}
		if (counter == 2) {
			$('#removeitem').hide();
		}
		$("#div"+counter+"").remove();
	});
});


</script>

{% endblock %}