{% extends "base.html" %}

{% block content %}

<!-- TODO: forgot your password? -->
<div class="container">
	<form class="form-horizontal" style="display:inline-block;" method="post">
		{% csrf_token %}
		<input type="hidden" name="submit_request" value="submit_request">
		<div class="control-group">
			<div class="controls">
				<h3>Sign Up</h3>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">First name</label>
			<div class="controls">
				{{ form.first_name }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">Last name</label>
			<div class="controls">
				{{ form.last_name }}
			</div>
		</div>
		{% if email_taken %}
		<div class="control-group">
			<div class="controls">
				<h5 style="color: red;">This email is already in use.</h5>
			</div>
		</div>
		{% endif %}
		<div class="control-group">
			<label class="control-label" for="inputEmail">Email</label>
			<div class="controls">
				{{ form.email }}
			</div>
		</div>
		{% if retype_failed %}
		<div class="control-group">
			<div class="controls">
				<h5 style="color: red;">Passwords do not match.</h5>
			</div>
		</div>
		{% endif %}
		{% if too_short %}
		<div class="control-group">
			<div class="controls">
				<h5 style="color: red;">Passwords must be at least 8 characters long.</h5>
			</div>
		</div>
		{% endif %}
		<div class="control-group">
			<label class="control-label" for="inputPassword">Password</label>
			<div class="controls">
				{{ form.password }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">Retype Password:</label>
			<div class="controls">
				{{ form.retype }}
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox"> Remember me
				</label>
				<button type="submit" class="btn btn-primary">Sign Up</button>
			</div>
		</div>
	</form>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Thanks!</h3>
  </div>
  <div class="modal-body">
    <p>Thanks for creating an account with Vital Meeting! A verification link will be sent to the email address you've provided; from there, you'll be able to activate your account.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary">Ok</button>
  </div>
</div>

{% if success %}
<script>

$(document).ready(function() {

	$('#myModal').modal("show");

	$("#myModal :button").click(function(e) {
		window.location.replace('{{destination}}');
	});
});

</script>

{% endif %}

{% endblock %}
