{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row" style="margin-left: 0px !important; margin-bottom: 50px !important;">
		<h3>Your account has been validated!</h3>
		{% if meeting %}
		<a href="../meeting/{{meeting}}" class="btn btn-warning">Go to the meeting you just created.</a>
		{% endif %}
		<a href="../profile" class="btn btn-success">Fill out your profile information.</a>
		<a href="../home/" class="btn btn-primary">Go to your meetings page.</a><br><br>
	</div>
</div>

{% endblock %}