body {
  padding-bottom: 40px;
  padding-top: 70px;
  overflow: auto;
}

div {
	display: block;
	vertical-align: baseline;
}

.prof-edit {
    float:right;
}

.nobullet ul {
    list-style: none !important;
}

img.addrbook {
    width: 25px;
    height: auto;
    margin-top: 5px;
}

.innerCheckbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 15px;
    background:#FFF;
    height:270px;
    width:450px;
    border:1px solid #ccc;
    overflow: auto;
}

.cboxContact {
    height: 25px;
    border-bottom: 1px solid #ccc; 
    padding: 10px;
    overflow: auto;
    white-space: nowrap;
}

.scrollbox {
    height: 350px;
    width: inherit;
    margin-left: 30px;
    overflow: scroll;
    white-space: nowrap !important;
}

/* remove row lines */
/*.table th, .table td { 
     border-top: none; 
 }*/

/*
div .info {
    width:500px !important;
    float:left !important;
    height: 50%;
}*/

.controls input[type="file"] {
    line-height: 15px !important;
    height: 20px;
    margin-top:5px;
}

input[type="file"] {
    line-height: 15px !important;
    height: 20px;
    margin-top:5px;
}
/* misalignment on file uploads is the result of some messy line-height stuff*/

.meetingHead {
    padding: 5px 5px 5px 0px;
/*    border: 1px solid #DCDCDC;
*/    padding-bottom: 30px;
    margin-bottom: 20px;
    height: 220px;
    width: inherit;
}

.meetingHead h5 {
    margin-bottom: 5px !important;
}

.organizerHead {
    padding: 5px 5px 5px 5px;
    margin-right: -5px !important;
    /*border: 1px solid #DCDCDC;*/
    padding-bottom: 30px;
    margin-bottom: 20px;
    height: 220px;
    width: inherit;
}

.meetingHead .info {
    width: 75%;
    float:left;
/*    border-left: 1px solid #DCDCDC;
*/    /*padding-left: 10px;*/
}

.meetingHead .desc {
    width: 75%;
    float:left;
/*    padding-left: 10px;*/
    margin-bottom: 20px;
}

.timeselect {
    width: 70px !important;
    height: 30px !important;
}

section > div {
    float: left;
    padding: 4px;
}

ul .sidebox {
    list-style-type: none;
    margin-left: 5px;
}

section > div + div {
    width: 40px;
    text-align: center;
}

div .time {
    padding-top: 20px !important;
    width: 425px !important;
    float:right !important;
    height: 50%;
}

.span8 .lead {
    border-bottom: 1px solid #999;
    padding-bottom: 15px;
    margin-bottom: 0px !important;
}

.userinfo {
    border: 1px solid #DCDCDC;
    height: 150px;
    width: inherit;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-top: 0px;
}

.span4 .userinfo {
    margin-right: 10px !important;
}


.subhead {
	padding-bottom:30px;
}

.subhead .container {
/*    	background-color: #F0FFFF;*/
/*    	border: 2px solid;*/
	padding: 5px 5px 5px 5px;
    border: 1px solid #DCDCDC;
}

.agendatitle {
	width: inherit;
	float:left;
}

.motion {
    border-bottom: 1px solid #DCDCDC;
    margin-left: 0px !important;
}

.motion .row {
    margin-left: 0px !important;
}

.comment {
    margin-left: 0px !important;
}

/* WHEN USING ROWS YOU SOMETIMES HAVE TO SET MARGIN EQUAL TO 0 AND IMPORTANT IT */

.motion .motiontitle {
    margin-top: 5px;
}

a {
    text-decoration:none !important;
}

.ai_row .btn.alter {
    background:none;
    border:none;
    box-shadow:none;
    line-height:4px;

}

button.hoverblack {
    color: #999; 
    font-size: 12px; 
    cursor:mouse; 
    cursor:pointer;
}

.sidebox {
    overflow: scroll;
    white-space: nowrap !important;
}

button.hoverblack:hover {
    color: black !important;
}

button.btn.alter:hover {
    color: black !important;
}

.motion .motionbody {
    margin-left: inherit;
}

.motion .motioninfo {
    margin-left:inherit;
}

.row .profrow {
    margin-left: 0px !important; 
    border-bottom: 1px solid #DCDCDC; 
    margin-top: 5px !important;
}


.agendaItem {
	border-bottom: 1px solid #999;
	overflow: hidden;
	padding: 11px 0px;
	width: 700px;
	float: left;
}

.ai_row {
    margin-left: 0px !important;
    margin-top: 5px !important;
    border-bottom: 1px solid #999 !important;
}

.ai_title {
    margin-left: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;   
}

.motion_row {
    margin-left: 50px !important;
    margin-top: 5px !important;
    border-bottom: 1px solid #DCDCDC !important;
}

.meetingInfo {
    border-bottom: 1px solid #999;
    overflow: hidden;
    padding: 11px 0px;
    width: 700px;
    float: left;
}

div .span8 .indented {
    margin-left: 50px !important;
    margin-top: 10px !important;  
}


.container .starttime {
	background: transparent;
	float: right;
	margin: 0 3px 0 0;
	padding: 5px;
	width: 100px;
	height: 38px;
    text-align: center;

}

.container .timelabel {
    background: transparent;
    float: right;
    /*padding: 5px;*/
/*        width: 50px;*/
    height: 48px;
    margin-left: 30px;
    line-height: 28px;
    text-align:center;
    color: #999;
}


.narrow .status {
	float: right;
	margin: 0 3px 0 0;
	padding: 5px;
	width: 60px;
	height: 38px;
}

.container .endtime {
	float: right;
	margin: 0 7px 0 0;
	/*padding: 5px 0px 5px 4px;*/
	padding: 5px;
    padding-right: 50px;
	width: 100px;
	height: 38px;
    text-align:center;
}

.motion .status {
    width: 200px; 
    float: right; 
    text-align: right; 
    line-height: 16px; 
    height: 26px;
}

.agenda {
    font-size: 17.5px;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
}

.narrow .summary {
	width: 500px;
}

.summary {
	float: left;
}

.btn-mini .alter {
    color: #999 !important;
    border-radius: 0px !important;
    padding: 0 2px !important;
    line-height: 12px;
}

.started {
	float: right;
}

.nummotions {
    color: #999;
}

.timedisp {
	/*height: 25px;*/
	font-size: 140%;
    font-family: inherit;
	/*font-weight: normal;*/
}

.datedisp {
    font-size: 90%;
    font-family: inherit;
}

/*.navbar-inner {
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}*/

.navbar-inverse .nav .active > a {
  background: 0 !important;
  /*color: #fff !important;*/
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.navbar-inverse .nav > li > a {
  /*color: #fff !important;*/
  text-shadow: none !important;
}

.navbar-inverse .nav > li > a:hover {
  color: #0088cc !important;
}
